@import "_page_style";

body {
  opacity: 1;
  margin: 0;
}

html {
  overflow-y: auto;
  height: auto;
}


#test_page {
  overflow-y: auto;
  height: auto;

  img {
    max-width: 100%;
  }
  nav {
    .text {
      text-align: center;
    }
    a.logo {
      width: 4.5rem;
    }
  }
  nav {
    //background-color: transparent;

    a.logo {
      //float: none;
      //margin: 0 auto;
      background: url('../img/aloha_logo.svg') center  no-repeat;
      background-size: 55%;
      //width: 1.8rem;
      //height: 1.8rem;

    }
     a.logo:hover {
      -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
      transform: scale(0.98);
    }
  }

  .main{
    background: #fff  url('../img/main_bg.png')center repeat-y;
    background-size: 100% auto;
    min-height: 100vh;
    padding-top:  1.55rem;
    padding-bottom:  1rem;

    .error-block {
      font-size: .25rem;
      color: #ff0000;
      text-align: center;
    }
  }
}





/* Form page
------------------------------*/

.test_content {

  .content {
    width: 20rem;
    text-align: center;
  }

  .content-header {
    margin-bottom: .8rem;
    color: #874916;

    font-size: .72rem;
    line-height: .84rem;
    display: block;
    font-weight: 600;
    text-align: center;
  }

  input {
    width: 100%;
    display: block;
    margin: 0 auto;

    border:solid 1px #ccc;
    border-radius: 2px;
    margin-bottom: .5rem;
    padding: 13px;
    font-family: 'GP',sans-serif;

    &.error {
      box-shadow: 0px 0px 8px 1px rgba(255,0,0,.4);
    }
  }

  button.button {
    border: none;
    padding: 0 .48rem;
    color: #fff;
    line-height: 1.14rem;
    background-color: #f48d1f;
    font-weight: 900;
    font-size: .48rem;
    text-transform: uppercase;
    display: inline-block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none; }

  button.button.green {
    background-color: #12a527; }

  button.button.green:hover {
    background-color: #109322; }





}


/* Test page
------------------------------*/


#test_list {
  .content-header {
    padding-top:  2rem;
    text-transform: uppercase;
  }

  .stages_list {
    width: 24rem;
    margin: 0 auto .9rem auto;
    color: #7f7f7f;
    .stages_item {
      position: relative;
      float: left;
      width: 25%;
      list-style: none;
      font-size: .3rem;
      line-height: .46rem;
      text-align: center;
      border-top: solid 4px #dfe3e4;
      padding: .25rem;

      .checkpoint {
        position: absolute;
        top: calc( -.32rem - 2px);
        right:  calc( -.32rem - 2px);
        border-radius: 100%;
        width: .64rem;
        height: .64rem;
        background-color: #dfe3e4;
        z-index: 9;
      }

      &.active {
        border-top-color:  #3ac547;
        .checkpoint {
          background-color: #3ac547;
          background-image: url("../img/check-mark.svg");
          background-position: center;
          background-size: 65%;
          background-repeat: no-repeat;

        }
      }
    }
  }
  .get-result {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    align-items: center;
    .button.link {
      background: none;
      color: #874916;
    }
    .button:not(.green):hover {
      background: none;
    }
  }
  .test__progress {
    color: #7f7f7f;
    font-size: .45rem;
    text-align: right;
  }

  img{
    height: 6rem;
  }
  iframe {
    width: 9rem;
    height: 5rem;
  }

  .media-test {
    .question-text {
      padding-left: 1rem;
    }
    .answer_item {
      margin-left: 1rem;

    }

  }
  .question-text-title,
  .question-text {
    font-weight: 600;
    margin-bottom: .3rem;
    font-size: .45rem;
    color: #636363;
  }
  .question-text-title{
    color: #874916;
    font-size: .55rem;
    margin-bottom: .345rem;

  }
  .question {
    text-align: start;
    color: #636363;
    margin-bottom: 1.3rem;
    &.media-test .question-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .answer_list {
      .answer_item {
        position: relative;
        list-style: none;
        font-size: .45rem;
        padding-left: .6rem;
        margin-bottom: .3rem;

        label {
          cursor: pointer;

        }
        .point {
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          left: 0;
          width: .47rem;
          height: .47rem;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          border: solid 2px;
          border-color: rgba(0,0,0,0.54);
        }
        input:checked  + .point:before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 8px;
          height: 8px;
          border-radius: 100%;

          background-color: #874916;
        }

        input:checked + .point {
          border-color: #874916 ;
        }
        input {
          display: none;
        }
      }
    }
  }
}

#test_form {
  .form-group {
    position: relative;
    width: 70%;
    margin: 0 auto;
  }

  input:valid + label,
  input:focus + label{
    display: none;
  }
  label {
    position: absolute;
    top: 12px;
    left: 13px;
    font-family: 'GP',sans-serif;
    color: #636363;
    font-size: 13px;
    span {
      color: red;
      font-size: 15px;
    }
  }
}


#test_thanks,
#test_form{
  height: 100vh;
}
#test_form .content-header,
#test_thanks .content-header{
  font-size: .6rem;
}

#test_thanks{
  .test_content {
    img {
      max-width: 100%;
      padding-bottom: .5rem;
      width: 50px;
    }
  }

}


@media only screen and (max-width: 1200px) {
  #test_page {
    #test_list .stages_list,
    .content {
      width: 90%;
    }
    img{
      width: auto;
      height:6rem;
    }
    iframe {
      width: 13rem;
      height:7rem;
    }

  }
}

@media only screen and (max-width: 768px) {
  #test_list .question .question-text {
    font-size: .5rem;
  }
  #test_list .question .answer_list .answer_item {
    font-size: .5rem;
  }
  #test_list .question.media-test .question-wrap {
    flex-direction: column;
  }
  #test_page img{
    max-width: 100%;
    height: auto;
    margin-bottom: .5rem;
  }
  #test_page iframe {
    width: 100%;
    height: 100%;
  }



  .video-container {
    position:relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top:30px;
    height:0;
    overflow:hidden;
    width: 100%;
    margin-bottom: .5rem;

  }

  .video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }







  #test_list .media-test .question-text {
    padding-left: 0;
  }
  #test_list .media-test .answer_item {
    margin-left: 0;
  }
  #test_list .question-text-title {
    font-size: .6rem;
  }

  #test_page nav a.logo {
    background-size: 100%;
  }
#test_page nav a.logo {
  width: 2.5rem;
  margin-left: 0;
}
  #test_page nav .text {
    display: none;
  }
  #test_list .stages_list .stages_item {
    width: 80%;
    float: none;
    margin: 0 auto;
    border-top:none;
    border-bottom: solid 4px #dfe3e4;
    font-size: .45rem;
  }
  #test_list .stages_list .stages_item.active {
    border-bottom-color: #3ac547;
  }
  #test_list .stages_list .stages_item .checkpoint {
    top: auto;
    bottom: calc(-.32rem - 2px);
  }

    #test_list .content-header {
    padding-top: .8rem;
  }
  .question-wrap .text {
    align-self: flex-start;

  }

  .get-result {
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 1rem;
    }
  }
}










