<div data-ng-controller="settingsCtrl" ui-jq="checkBo">
    <loading-caption></loading-caption>
    <style>
        .catselect input {
            margin-left: 1em;
        }

        .modal-form-group {
            margin-bottom: 30px;
        }

        tr.editing {
            background-color: #f3f3f3;
        }

        .switch {
            display: table-cell;
            vertical-align: middle;
            padding: 3px;
        }
    </style>
    <div ng-class="loadingAnimClass">

        <form id="commentForm" class="form-horizontal" role="form" ui-jq="validate" ui-options="validationOpt">
            <div class="box-tab justified" id="rootwizard" ui-jq="bootstrapWizard" ui-options="settingsNext">
                <ul class="nav nav-tabs">
                    <li><a href="/settings/#user-tab" data-toggle="tab">User details</a>
                    </li>
                    <li><a href="/settings/#restaurant-tab" data-toggle="tab">Restaurant details</a>
                    </li>
                    <li><a href="/settings/#staff-tab" data-toggle="tab">Your team's names</a>
                      <!-- <a href="/settings/#staff-tab" data-toggle="tab">Your team's names</a> -->
                    </li>
                    <li><a href="/settings/#questions-tab" data-toggle="tab">Your questions</a>
                <!--  <a href="/settings/#questions-tab" data-toggle="tab">Your questions</a> -->
                    </li>
					<li><a href="/settings/#questionstree-tab" data-toggle="tab">Your questions tree</a>
                <!--  <a href="/settings/#questions-tab" data-toggle="tab">Your questions</a> -->
                    </li>
                    <li><a href="/settings" data-toggle="tab">Billing<div class="small text-success">Coming soon!</div></a>
                      <!-- <a href="/settings/#billing-tab" data-toggle="tab">Billing</a> -->
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane" id="user-tab">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-4">
                                <input
                                    ng-model="user.username"
                                    type="text"
                                    class="form-control"
                                    id="namefield"
                                    name="namefield"
                                    placeholder="username"
                                    readonly="true"
                                    style="background-color: #f3f3f3;">
                                <!-- NOTE: username is NOT editable -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Administrator's name</label>
                            <div class="col-sm-4">
                                <input
                                    ng-model="user.adminName"
                                    type="text"
                                    class="form-control"
                                    id="adminfield"
                                    name="adminnamefield">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email address</label>
                            <div class="col-sm-4">
                                <input
                                    ng-model="user.email"
                                    type="text"
                                    class="form-control"
                                    id="emailfield"
                                    name="emailfield">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mobile number</label>
                            <div class="col-sm-4">
                                <input
                                    ng-model="user.mobileNumber"
                                    pattern="^\d{5}-\d{3}-\d{3}$"
                                    type="tel"
                                    ui-mask="07999 999 999"
                                    class="form-control" id="phonefield" name="phonefield">
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Old Password</label>
                            <div class="col-sm-4">
                                <input
                                    ng-model="user.oldPassword"
                                    type="password"
                                    class="form-control"
                                    id="oldPasswordField"
                                    name="passwordfield">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">New Password</label>
                            <div class="col-sm-4">
                                <input ng-model="user.newPassword" type="password" class="form-control" id="newPasswordField" name="passwordfield">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Confirm New Password</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="cNewPasswordField" name="cpasswordfield">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="restaurant-tab">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Restaurant name</label>
                            <div class="col-sm-4">
                                <input
                                    ng-model="outlet.name"
                                    readonly="true"
                                    type="text"
                                    class="form-control"
                                    id="restaurantName"
                                    name="outletfield"
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-4">
                                <textarea ng-model="user.shopLocation" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Restaurant type</label>
                            <div class="col-sm-4">
                                <select ng-model="user.placeOfUsingBuzzer" class="form-control" id="description" name="description">
                                    <option value="independent">Independent</option>
                                    <option value="smallchain">Small chain (up to 5 branches)</option>
                                    <option value="mediumchain">Medium chain (5 - 10 branches)</option>
                                    <option value="largechain">Large chain (10+ branches)</option>
                                    <option value="cafe">Café</option>
                                </select>
                            </div>
                        </div>
                    </div>
					
					
					
					<!--------------!@#$%---------------->
					
					
					<div class="tab-pane flowchart" id="questionstree-tab" ng-controller="FlowchartCtrl">


<!--ng-keydown="keyDown($event)" ng-keyup="keyUp($event)"-->

<div class="settingsPopUp-wrap">
    <div class="settingsPopUp ">
        <h3>Enter your answer options</h3>
        <div class="startForm">
            <button ng-click="addNewOutputConnector()" class="add disabled" ng-disabled="modelservice.nodes.getSelectedNodes().length == 0 && modelservice.edges.getSelectedEdges().length == 0">Add
            </button>
            <button class="done">Done</button>
            <button  class="delete disabled" ng-click="deleteInput()">Delete</button>
            <label for="1">1 Answer</label>
            <input placeholder="Enter the text of the question" class="answer" id="1" type="text">
        </div>

    </div>
</div>


<div class="finish-wrap"  >

    <div class="finish">
        <ul class="finish-list">
            <li class="finish-item">
                <p class="finish-text">Word of mouth</p>
                <span class="line-svg">
                <svg width="500" height="20">
                    <g><line x1="0" y1="10" x2="100%" y2="10"/></g>
                </svg>
            </span>
            </li>
            <li class="finish-item">
                <p class="finish-text">Advert</p>
                <span class="line-svg">
                <svg width="500" height="20">
                    <g><!-- Vertical line  --><line x1="0" y1="10" x2="100%" y2="10"/></g>
                </svg>
            </span>
            </li>
            <li class="finish-item">
                <p class="finish-text">Google</p>
                <span class="line-svg">
                <svg width="500" height="20">
                    <g><!-- Vertical line  --><line x1="0" y1="10" x2="100%" y2="10"/></g>
                </svg>
            </span>
            </li>
        </ul>

        <div class="finish-link">
            <span><span class="link" href="#">Finish</span></span>
        </div>
    </div>
</div>


<div class="content">

    <div id="buttonOverlay" class="button-overlay">


        <ul>

            <li class="closed-btn">
                <div class="navTrigger active">
                    <i></i><i></i><i></i>
                </div>
            </li>

            <li class="button-control text-question-item" ng-click="textQuestion()">
                <span class="minNode-wrap">
                    <span class="minNode"></span>
                </span>
                <button class="text-question-btn"  title="Add a new node to then chart">Text
                    question
                </button>
            </li>

            <li class="button-control many-questions-item"  ng-click="manyQuestions()">
                <span class="minNode-wrap">
                    <span class="minNode"></span>
                </span>
                <button class="many-questions-btn" title="Add a new node to then chart">1-10
                    question
                </button>
            </li>

            <li class="button-control star-question-item" ng-click="starQuestion()">
                <span class="minNode-wrap">
                    <span class="minNode"></span>
                </span>
                <button class="star-question-btn"  title="Add a new node to then chart">1-5
                    star question
                </button>
            </li>

            <li class="button-control multi-question-item"  ng-click="multiQuestion()">
                 <span class="minNode-wrap">
                    <span class="minNode"></span>
                </span>
                <button class="multi-question-btn" title="Add a new node to then chart">
                    Multi-choice question
                </button>
            </li>

            <li class="button-control edit-btn">
                <span class="edit-question" ng-disabled="modelservice.nodes.getSelectedNodes().length == 0 && modelservice.edges.getSelectedEdges().length == 0" title="Edit question text">
                    Edit question
                </span>
            </li>

            <li class="button-control edit-answer-btn">
                <span class="edit-answer" ng-disabled="modelservice.nodes.getSelectedNodes().length == 0 && modelservice.edges.getSelectedEdges().length == 0" title="Edit answers text">
                    Edit answers
                </span>
            </li>

            <!--<li class="button-control del-btn">-->
                <!--<span  class=" " ng-click="deleteInput()">Delete point </span>-->

            <!--</li>   -->

            <li class="button-control del-btn">
                <span class="del" ng-click="deleteSelected()"
                        ng-disabled="modelservice.nodes.getSelectedNodes().length == 0 && modelservice.edges.getSelectedEdges().length == 0" title="Delete selected nodes and connections">
                    Delete Selected
                </span>
            </li>


        </ul>


    </div>
    <fc-canvas model="model" selected-objects="flowchartselected" edge-style="line" callbacks="callbacks"
               automatic-resize="true"></fc-canvas>
</div>


					</div>

					
					
					<!--------------!@#$%---------------->
					

                    <div class="tab-pane" id="questions-tab">

                        <div class="form-group">

                            <!-- NOTE: if 'editable' is not set in db, default value is 'TRUE' -->

                            <table class="table table-bordered table-hover table-condensed align-middle" style="margin: 0 auto; width: 80%;">
                                <tr class="bold" style="overflow: scroll;">
                                    <td style="width:5%">Active?</td>
                                    <td style="width:10%">Question type</td>
                                    <td style="width:50%">Question text</td>
                                    <td style="width:15%">Index</td>
                                    <td style="width:15%">Qflag</td>
                                    <td style="width:10%">Edit</td>
                                </tr>
                                <tr ng-repeat="question in questions">
                                    <td>
                                        <span ng-if="(!question.qFlag || question.qFlag && question.qFlag === 'metric') && question.active">
                                            Active</span>
                                        <label ng-if="question.qFlag && (question.qFlag === 'email' || question.qFlag === 'comment')" class="switch switch-sm mb15">
                                            <input
                                                type="checkbox"
                                                ng-checked="question.active"
                                                ng-model="question.active"
                                                ng-change="editQuestion(question)">
                                            <span> <i class="handle"></i> </span>
                                        </label>
                                    </td>
                                    <td>
                                        <span ng-if="question.type === 's'">1-5 stars</span>
                                        <span ng-if="question.type === 'n'">1-10 slider</span>
                                        <span ng-if="question.type === 't'">free type</span>
                                        <span ng-if="question.type === 'm'">multiple choice</span>
                                        <span ng-if="question.type === 'server'">server</span>
                                        <span ng-if="question.qFlag && question.qFlag === 'email'">email</span>
                                    </td>
                                    <td>{{question.question}}</td>
                                    <td>{{question.index}}</td>
                                    <td>
                                        <span ng-if="question.qFlag">
                                            <span ng-if="question.qFlag === 'email'">Email question</span>
                                            <span ng-if="question.qFlag === 'comment'">Comment question</span>
                                        </span>
                                        <span ng-if="!question.qFlag">-</span>
                                        <span ng-if="question.qFlag && question.qFlag === 'metric'">Metric question</span>
                                    </td>
                                    <td>
                                        <span ng-if="!question.qFlag || (question.qFlag && question.qFlag === 'metric')">Not editable</span>
                                        <button ng-if="question.qFlag && (question.qFlag === 'email' || question.qFlag === 'comment')"
                                                type="button" class="btn btn-primary button-next"
                                                ng-click = "openEditQuestionModal(question)"
                                        >Edit</button>
                                    </td>

                                </tr>

                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--Always active-->
                                    <!--</td>-->
                                    <!--<td>1-10 Slider</td>-->
                                    <!--<td>Lorem ipsum dolor sit amet?</td>-->
                                    <!--<td>Metric question</td>-->
                                    <!--<td>Not editable</td>-->

                                <!--</tr>-->

                                <!--<tr>-->
                                    <!--<td>-->
                                      <!--<label class="switch switch-sm mb15"> <input type="checkbox" checked=""> <span> <i class="handle"></i> </span> </label>-->
                                    <!--</td>-->
                                    <!--<td>Free type</td>-->
                                    <!--<td>Lorem ipsum dolor sit amet?</td>-->
                                    <!--<td>Comment question</td>-->
                                    <!--<td><button type="button" class="btn btn-primary button-next">Edit</button></td>-->

                                <!--</tr>-->

                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--<label class="switch switch-sm mb15"> <input type="checkbox" checked=""> <span> <i class="handle"></i> </span> </label>-->
                                    <!--</td>-->
                                    <!--<td>Email collection</td>-->
                                    <!--<td>Lorem ipsum dolor sit amet?</td>-->
                                    <!--<td>Email question</td>-->
                                    <!--&lt;!&ndash; clicking 'EDIT' allows the user to edit the information on that row &ndash;&gt;-->
                                    <!--<td><button type="button" class="btn btn-primary button-next">Edit</button></td>-->

                                <!--</tr>-->

                                <!--<tr class="editing">-->
                                    <!--&lt;!&ndash; class 'editing' is added to the table row that is being edited &ndash;&gt;-->
                                    <!--<td>-->
                                        <!--<label class="switch switch-sm mb15"> <input type="checkbox" checked=""> <span> <i class="handle"></i> </span> </label>-->
                                    <!--</td>-->
                                    <!--<td><select name="qtype">-->
                                          <!--<option value="multiChoice">Multiple Choice</option>-->
                                          <!--<option value="stars">1-5 stars</option>-->
                                          <!--<option value="slider">1-10 slider</option>-->
                                          <!--<option value="email">Email</option>-->
                                          <!--<option value="freeText">Free type</option>-->
                                        <!--</select>-->
                                    <!--</td>-->
                                    <!--<td><input type="text" name="questionText" class="form-control" placeholder="Lorem ipsum dolor sit amet?"/>-->
                                    <!--</td>-->
                                    <!--<td><select name="qFlag">-->

                                      <!--&lt;!&ndash; NOTE: there can only be one of each flags per whole question set, e.g. no more than ONE 'comment' qFlag, no more than ONE 'metric' qFlag &ndash;&gt;-->
                                          <!--<option value="null">None</option>-->
                                          <!--<option value="email">Email question</option>-->
                                          <!--<option value="comment">Comment question</option>-->
                                          <!--<option value="metric">Overall satisfaction metric</option>-->
                                          <!--<option value="service">Service metric question</option>-->
                                          <!--<option value="atmosphere">Atmosphere metric question</option>-->
                                          <!--<option value="food">Food metric question</option>-->
                                          <!--<option value="value">Value metric question</option>-->
                                        <!--</select>-->
                                    <!--</td>-->
                                    <!--&lt;!&ndash; this is what a question looks like while editing. If user selects question type 'multiple choice', show popup allowing user to add/edit the multiple choice options &ndash;&gt;-->
                                    <!--<td><button type="button" class="btn btn-success button-next" style="padding: 6px;">Save</button><button style="padding: 6px; margin-left: 6px;" type="button" class="btn btn-warning button-next">Delete</button></td>-->

                                <!--</tr>-->

                            </table>

                            <div style="margin: 10px auto; width: 80%; text-align: right;">
                                <button

                                        ng-click="openAddQuestionModal()"
                                        type="button"
                                        class="btn btn-success button-next">+ Add new</button></div>


                        </div>

                    </div>

                    <div class="tab-pane" id="staff-tab">

                        <!-- NOTE: staff are no longer stored in 'Outlets' collection, but they are now in the new 'Staff' collection! -->
                        <div class="form-group">

                            <table class="table table-bordered table-hover table-condensed align-middle" style="margin: 0 auto; width: 80%;">
                                <tr class="bold" style="overflow: scroll;">
                                    <td style="width:5%">Active?</td>
                                    <td style="width:20%">First Name</td>
                                    <td style="width:20%">Last Name</td>
                                    <td style="width:35%">Categories</td>
                                    <!-- 'categories' = 'tab' array in db -->
                                    <td style="width:10%">Edit</td>

                                </tr>
                                <tr ng-repeat="team in teams track by $index">
                                    <td>
                                        <!--<div class="switch"><input-->
                                                <!--id="toggle-{{$index}}"-->
                                                <!--checked="{{team.active}}"-->
                                                <!--class="cmn-toggle cmn-toggle-round-flat"-->
                                                <!--type="checkbox">-->
                                            <!--<label for="toggle-{{$index}}"></label></div>-->

                                        <label class="switch switch-sm mb15" for="toggle-{{$index}}">
                                            <input type="checkbox"
                                                   id="toggle-{{$index}}"
                                                   ng-model="team.active"
                                                   ng-change="edit(team)">
                                            <span> <i class="handle"></i> </span>
                                        </label>
                                    </td>
                                    <td>{{ team.fname }}</td>
                                    <td>{{ team.lname }}</td>
                                    <td>
                                        <span ng-repeat="tab in team.tabs track by $index">{{tab}}&nbsp;</span>
                                    </td>
                                    <td><button type="button" class="btn btn-primary button-next" ng-click="editStaff(team)">Edit</button></td>

                                </tr>

                            </table>

                            <div style="margin: 10px auto; width: 80%; text-align: right;">
                                <button
                                    ng-click="modal ? modal = false : modal = true"
                                    type="button"
                                    class="btn btn-success button-next"
                                >+ Add new</button>
                            </div>


                        </div>

                    </div>

                    <div class="tab-pane" id="billing-tab" ui-jq="card" ui-options="{container: '.card'}">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Card number</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Full name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Expiration date</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="expiry">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">CVC number</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="cvc">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card"></div>
                            </div>
                        </div>
                    </div>


                    <div class="wizard-pager">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default button-previous">Cancel</button>

                            <!-- cancel button 'resets' all forms on that tab or refreshes the view -->

                            <!-- if new unsaved data, the submit button goes red (add class .bg-warning) -->

                            <button type="button" class="btn btn-success button-next" ng-click="submitProfile()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- 'add new staff' modal -->
        <div class="modal fade in" id="modal-addstaff" role="dialog" ng-show="modal-addstaff" style="display: block">
            <div class="modal-dialog modal-lg" style="min-height: 33%">
                <div class="modal-content" style="height: 100%">
                    <div class="modal-header">
                        <button ng-click="closeModal()" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" ng-show="!isEditModal">Add staff member</h4>
                        <h4 class="modal-title" ng-show="isEditModal">Edit staff member</h4>
                    </div>
                    <div class="modal-body" style="max-height: 80%; overflow-y: scroll">
                        <div class="modal-form-group">
                            <label class="col-sm-2 control-label">First name</label>
                            <div class="col-sm-9">
                                <input
                                    ng-model="staff.fname"
                                    type="text"
                                    class="form-control"
                                    id="fnamefield"
                                    name="fnamefield">
                            </div>
                        </div>

                        <div class="modal-form-group">
                            <label class="col-sm-2 control-label">Last name</label>
                            <div class="col-sm-9">
                                <input
                                        ng-model="staff.lname"
                                        type="text"
                                        class="form-control"
                                        id="lnamefield"
                                        name="lnamefield">
                            </div>
                        </div>
                        <br>
                        <div class="modal-form-group">
                            <label class="col-sm-2 control-label">Categories</label>
                            <div class="col-sm-9 catselect">
                                <label ng-repeat="tab in tabs track by $index">
                                    <input
                                            checklist-model="staff.tabs"
                                            ng-checked="true"
                                            checklist-value="category"
                                            type="checkbox">{{tab}}</input>

                                </label>

                                <br> Add new category:
                                <input type="text" id="newcat" ng-model="newCategory" name="newcat"> <a ng-click="addCategory(newCategory)"
                                                                                                        style="border-bottom: 1px dotted #efefef;
                                                                                                        cursor: pointer; margine-left: 10px;">Add</a>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button ng-click="closeModal()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                        <button
                            ng-click="addStaff(staff)"
                            ng-show="!isEditModal"
                            type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                        >Add staff member</button>
                        <button
                            ng-click="edit(staff)"
                            ng-show="isEditModal"
                            type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                        >Edit staff member</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 'add new question' modal -->
        <div class="modal fade in" id="modal-addquestion" role="dialog" ng-show="modalAddquestion" style="display: block">
            <div class="modal-dialog modal-lg" style="min-height: 33%">
                <div class="modal-content" style="height: 100%">
                    <div class="modal-header">
                        <button ng-click="closeModal()" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" ng-show="!isEditModal">Add question</h4>
                        <h4 class="modal-title" ng-show="isEditModal">Edit question</h4>
                    </div>
                    <!--<input type="hidden" ng-model="question.active" value="true">-->
                    <div class="modal-body" style="max-height: 80%; overflow-y: scroll">
                        <div class="modal-form-group">

                            <label for="question_type" class="col-sm-2 control-label">Question Type</label>
                            <div class="col-sm-9">
                                <select name="question_type" ng-model="question.type">
                                    <option value="t" selected>text</option>
                                    <option value="n">n</option>
                                    <option value="s">s</option>
                                    <option value="server">server</option>
                                    <option value="email">email</option>
                                    <option value="m">multiple choice</option>
                                </select>
                            </div>
                        </div>

                        <div class="modal-form-group">
                            <label class="col-sm-2 control-label">Question</label>
                            <div class="col-sm-9">
                                <input
                                        ng-model="question.question"
                                        type="text"
                                        class="form-control"
                                        id="question-filed"
                                        name="question-filed">
                            </div>
                        </div>
                        <br>
                        <div class="modal-form-group">

                            <label for="question_flag" class="col-sm-2 control-label">Question Type</label>
                            <div class="col-sm-9">
                                <select name="question_flag" ng-model="question.qFlag">
                                    <option value="email" selected>Email question</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="modal-form-group">

                            <label for="question-editable" class="col-sm-2 control-label">Question Editable</label>
                            <div class="col-sm-9">
                                <select name="question-editable" ng-model="question.editable">
                                    <option value="true">true</option>
                                    <option value="false">flase</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="modal-form-group">

                            <label for="question-editable" class="col-sm-2 control-label">Question Index</label>
                            <div class="col-sm-9">
                                <input name="question-editable" ng-model="question.index" type="number">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button ng-click="closeQuestionModal()" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                        <button
                                ng-click="addQuestion(question)"
                                ng-show="!isEditModal"
                                type="button"
                                class="btn btn-primary"
                                data-dismiss="modal"
                        >Add question</button>
                        <button
                                ng-click="editQuestion(question)"
                                ng-show="isEditModal"
                                type="button"
                                class="btn btn-primary"
                                data-dismiss="modal"
                        >Edit question</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Question 'multiple choice' modal
        <div class="modal fade in" id="modal-multichoice" role="dialog" ng-show="modal-multichoice" style="display: block">
            <div class="modal-dialog modal-lg" style="min-height: 33%">
                <div class="modal-content" style="height: 100%">
                    <div class="modal-header">
                        <button ng-click="modal ? modal = false : modal = true" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add multiple choice question</h4>
                    </div>
                    <div class="modal-body" style="max-height: 80%; overflow-y: scroll">
                        <div class="modal-form-group">
                            <label class="col-sm-2 control-label">Options</label>
                            <div class="col-sm-9 catselect">
                                <input type="checkbox"> Option 1</input> <a href="#">Delete</a><br>
                                <input type="checkbox"> Option 2</input> <a href="#">Delete</a><br>
                                <input type="checkbox"> Option 3</input><br>
                                <br>Add new option: <input type="text" id="newcat" name="newcat"> <a href="#" style="border-bottom: 1px dotted #efefef;">Add</a>

                                -- Maximum 5 multiple choice options --

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button ng-click="modal ? modal = false : modal = true" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                        <button type="button" class="btn btn-primary" data-dismiss="modal">Add staff member</button>
                    </div>
                </div>
            </div>
        </div>
        / add 'multiple choice' question modal -->
    </div>


</div>
