/* Table of contents

    Use (CMD/CRL + F $[SECTION] to quickly find what you are looking for [SECTION])


1.



*/


.faq-list{
  margin-top: 70px;
  margin-bottom: 100px;
  padding: 0 212px;
  ul{
    margin-bottom: 60px;
  }
  li{
    margin-bottom: 40px;
  }
  .text{
    display: none;
    margin-top: 10px;
    margin-bottom: 52px;
    font-size: .945rem;
    color: #777777;
  }
  label{
    position: relative;
    font-family: $secondFont;
    font-size: 2.24rem;
    cursor: pointer;
    &:hover{
      color: $accentCol;
    }
    &:after{
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: -30px;
      width: 30px;
      height: 30px;
      background: url("../img/arrow-down.png") no-repeat center;
    }
  }
  input{
    display: none;
  }
  input:checked{
    ~ .text{
      display: block;
    }
    ~ label:after{
      transform: rotateX(180deg);
    }
  }
  .long-arrow{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    color: $accentCol;
  }
}