/* Table of contents

    Use (CMD/CRL + F $[SECTION] to quickly find what you are looking for [SECTION])


1. Secret-list


*/



/* $Secret-list
-----------------------------*/
.secret-list {



  .tab{
    text-align: center;
    margin-top: 45px;
    border-bottom: solid 1px #f4f2ef;
    label{
      display: inline-block;
      font-family: $mainFont;
      font-weight: 600;
      font-size: 0.8rem;
      padding-bottom: 17px;
      margin-bottom: -1px;
      cursor: pointer;
      transition: color .35s ease;
      &:hover{
        color: $accentCol;
      }
      & + label{
        margin-left: 30px;
      }
      &.active{
        border-bottom: solid 2px $accentCol;
      }
    }

  }

  .news-list{
    margin-top: 70px;
    display: none;
  }

  .tab-toggle{
    display: none;
    &:checked + .news-list{
      display: flex;
    }
  }
}


