


.marker-list{
  padding: 45px 50px 0 50px;

  .h2 {
    margin-bottom: 16px;
    font-size: 1.12rem;
    font-weight: 600;
  }

  ul {
    padding-left: 30px;
  }

  li{
    margin-bottom: 7px;
  }

  li::before{
    position: absolute;
    content:  "\25cf";
    padding-right: 8px;
    margin-left: -22px;
  }
}