/* Table of Contents

	Use (CMD/CRL + F $[SECTION] to quickly find what you are looking for [SECTION] )

1.  Error-page


*/

/* $Error-page
***********************************/
.error-page{
  margin: 155px auto 100px auto;
  .content-header{
    margin-bottom: 32px;
  }
  .text{
    color: #787878;
  }
}
.error-page-content{
  width: 720px;
  margin: 72px auto 10px auto;
  img{
    display: block;
    margin-bottom: 50px;
    max-width: 100%;
  }
  .content-header{
    display: inline-block;
    font-size: 3rem;
    a{
      color: $accent-col;
    }
  }


  .search-form {
    position: relative;
    display: inline-block;
    width: 27%;
    margin-left: 15px;
    .search-icon {
      position: absolute;
      right: 0;
      top: 5px;
      width: 20px;
      transition: $trans-ease;
      &:after {
        display: inline-block;
        vertical-align: middle;
        font: normal normal normal 15px/1 FontAwesome;
        content: "\f002";
        color: #000;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .form-control {
      padding: 3px 30px 3px 15px;
      width: 100%;
      font-size: 1.5rem;
      border: solid 1px #000;
      border-radius: 100px;
      background-color: transparent;
      transition: all .35s;
      outline: none;
      color: #000;
    }
  }


}