/* Table of Contents

	Use (CMD/CRL + F $[SECTION] to quickly find what you are looking for [SECTION] )

1.  About-company
2.  About-team
3.  About-partner
4.  About-clients
5.  Partner & Clients-slider
6.  Cooperation-scheme
7.  First-step

*/




/* $About-company
********************************/
.about-company{
  margin-bottom: 70px;
  .about-company-header{
    margin-left: 8.33333%;
    margin-bottom: 42px;
  }
  aside{
    padding-left: 2%;
    float: right;
    font-size: 1.4rem;
    li{
      margin-bottom: 7px;
    }
    .link{
      font-family: $Avenir-demi;
    }
  }
  .title-list{
    font-size: 3rem;
  }
  .develop-list{
    margin-bottom: 45px;
    li{
      position: relative;
      margin-bottom: 22px;
      padding-left: 100px;
      font-size: 1.65rem;
      .bold{
        font-size: 1.78rem;
      }
    }
    .min-rotate{
      position: absolute;
      left: 7px;
      top: 14px;
      width: 50px;
      height: 50px;

      transform: rotate(45deg);
      border-radius: 12px;
      &.yellow{
        background-color: #fdbb00;
      }
      &.red{
        background-color: #ef4139;
      }
      &.blue{
        background-color: #24add9;
      }
      &.green{
        background-color: #bccf16;
      }
      &.grey{
        background-color: #5b5b5b;
      }
    }
    ~ .text{
      margin-bottom: 48px;
    }
  }
  .logo-parse{
    max-width: 100%;
  }
}



/* $About-team
********************************/
.about-team{
  margin-bottom: 75px;
  .img-link{
    width: 371px;
  }
  .title{
    margin-bottom: 55px;
    padding: 0 40px;
    .text{
      padding-right: 3%;
    }
  }
  .content-header{
    margin-bottom: 26px;
    font-size: 3rem;
  }

  // Slider
  .team-slider{
    position: relative;
    .next-arrow,
    .prev-arrow{
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
      opacity: .3;
      &:hover{
        opacity: 1;
      }
    }
    .prev-arrow{
      left: 77px;
    }
    .next-arrow{
      right: 77px;
    }
    .link-bg{
      background-size: cover;
    }
  }
  .img-link-header{
    span{
      display: block;
    }
    .surname{
      margin-bottom: 7px;
    }
    .text{
      color: #fff;
      transition: color $trans-ease;
    }
  }
  .img-link-content{
    z-index: 3;
  }
  .img-link:hover{
    .hidden-text{
      height: 300px;
    }
    .img-link-header{
      margin-bottom: 27px;
      .text{
        transition: color $trans-ease;
        color: $accent-text;
      }
    }
  }

  .join{
    position: relative;
    .img-link{
      padding: 0;
    }
    .img-link-header{
      padding: 35px 40px;
      background-color: $accent-col;
      color: $accent-text;
      .equal{
        font-size: 1.6rem;
      }
    }
    .hidden-text{
      position: absolute;
      top: 500px;
      width: 100%;
      height: 500px;
      padding: 40px;
      transition: all $trans-ease;
      background-color: $accent-col;
      z-index: 9999;
      .content-header{
        margin-bottom: 30px;
      }
      ul{
        margin-bottom: 38px;
      }
      li{
        margin-bottom: 10px;
      }
      .def-dots{
        margin-left: -10px;

      }
      .btn{
        display: block;
        margin: 0 auto;
        border-color: #fff;
        text-align: center;
        color: #fff;
        &:before{
          content: 'Присоеденится';
        }
        &:after{
          content: 'Присоеденится';
        }
        &:hover:after{
          color: #fff;
        }
      }
    }
    .img-link:hover{
      .hidden-text{
        height: 500px;
        top: 0;
      }
    }
  }
}
.blackout{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom,
          transparent 0%,
          rgba(0, 0, 0, 0.2) 60%,
          rgba(0, 0, 0, 0.95) 110%, #000 100%)
}


/* Partner & Clients-slider
*****************************/
.about-partner,
.about-clients{
  .content-header{
    margin-bottom: 26px;
    font-size: 3rem;
  }
  .title{
    margin-bottom: 20px;
  }
  .next-arrow,
  .prev-arrow {
    top: 45%;
    transform: translateY(-50%);
    z-index: 9;
  }
  .prev-arrow {
    left: 0;
  }
  .next-arrow {
    right: 7px;
  }
}
.about-clients{
  .slick-list.interval-right {
    padding-right: 40px;
    margin-right: -40px;
  }
}
.about-clients{
  .slick-list.interval-left {
    padding-left: 40px;
    margin-left: -40px;
  }
}

.about-partner .brand-list,
.about-clients .brand-list{
    li{
      height: 125px;
      margin-right: 11px;
      width: 101px;
      outline: none;
      &.hover:hover{
        .name,
        .specialization{
          opacity: 1;
        }
      }
    }
    .name{
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;

      font-size: 1.4rem;
      font-family: $Avenir-demi;
      font-weight: 700;
    }
    .specialization{
      position: absolute;
      bottom: 4px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      font-size: 1.4rem;
      font-family: $Avenir-demi;
      text-align: center;
      color: #787878;
      .link{
        color: $accent-col;
      }
    }
  }




/* $About-partner
********************************/
.about-partner{

  li:hover{
    > .name,
    > .specialization{
      opacity: 1;
    }
  }
  .partner-slider {
    position: relative;
    margin-bottom: 35px;
  }
  .bottom-text{
    margin-bottom: 70px;
    p:first-of-type{
      padding-right: 2%;
    }
    p + p{
      padding-left: 1.5%;
    }
  }
}







/* $About-clients
********************************/
.about-clients {
  .clients-slider {
    position: relative;
    margin-bottom: 31px;

  }
}







/* $Cooperation-scheme
********************************/
.cooperation-scheme{
  .title{
    margin-bottom: 30px;
  }
  .content-header{
    margin-bottom: 26px;
    font-size: 3rem;
  }
  .scheme-item{
    margin-bottom: 27px;
  }
  .scheme-item{
    padding-right: 3%;
    + .scheme-item{
      padding-left: 1%;
    }
    &:last-of-type{
      padding-right: 0;
    }
  }
  .line{
    display: inline-block;
    height: 3px;
    width: 30%;
    margin-top: 35px;
    background-color: $accent-col;
  }
}




/* $First-step
********************************/
.first-step{
  margin-bottom: 145px;
  margin-top: 25px;
  .text{
    padding-left: 32px;
    a{
      color: $accent-col;
    }
  }
}