/* Table of Contents

	Use (CMD/CRL + F $[SECTION] to quickly find what you are looking for [SECTION] )

1.  Article
2.  Article-content
3.  $Social
4.  Question
5.  Article-slider

*/


/* $Article
*************************/
.article{
  position: relative;
  .article-header {
    margin-bottom: 50px;
  }

}

/* $Article-content
*************************/
.article-content{
  margin-bottom: 75px;
  .content-header{
    margin-bottom: 27px;
    font-size: 3rem;
  }
  time{
    margin-bottom: 28px;
    display: inline-block;
    font-family: $Avenir-demi;
    font-size: 1.4rem;
    line-height: 1;
    color: #fdbb00;
  }
  .article-photo{
    width: 98%;
    margin-bottom: 35px;
    padding-top: 57%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  figure{
    margin-bottom: 70px;
  }
  .title-list{
    margin: 25px 0 10px 0;
  }
  .attention{
    margin-bottom: 25px;
  }
  .develop-list{
    margin-bottom: 50px;
    .text{
      margin-left: 38px;
      margin-bottom: 12px;
    }
  }

}

.subscribe-show {
  display: none;
  padding: 10px 35px;
  margin-bottom: 42px;
  border-radius: 100px;
  background-color: transparent;
  border: solid 2px #555554;
  font-size: 1.88rem;
  font-family: $Avenir-reg;
  transition: color $trans-ease;
  &:hover {
    //color: $accent-col;

  }
  &.open{
    border-color: #f5f5f5;
    color: #a5a5a5;
  }

}


/* $Social
*************************/
.article .social{
  position: absolute;
  width: auto;
  margin-top: 0px;
  z-index: 3;
  display: block;

  &.fixed{
    position: fixed;
    top: 66px;
  }

  .link{
    display: block;
    width: 50px;
    height: 50px;
    border: solid 2px #d9d9d9;
    font-size: 2.5rem;
    color: #d9d9d9;
    margin: 0;
    + .link{
      margin: 30px 0 0px 0;
    }
    i{
      vertical-align: bottom;
    }
    &:hover{
      &.facebook{
        color: #3b5998;
        border-color: #3b5998;
      }
      &.instagram{
        color: #3f729b ;
        border-color: #3f729b;
      }
      &.youtube{
        color: #cd201f ;
        border-color: #cd201f;
      }
      &.google{
        color: #d34836;
        border-color: #d34836;
      }
      &.linkedin{
        color: #0077b5;
        border-color: #0077b5;
      }
    }
  }
}




/* $Question
*************************/

.question{
  margin-bottom: 60px;
  .content-header{
    margin-bottom: 30px;
  }
  form {
    input{
      display: inline-block;
      margin-bottom: 34px;
    }
    input {
      width: 268px;
      display: inline-block;
      margin-right: 38px;
      border: none;
      border-bottom: solid 1px #a5a5a5;
      outline: none;
      font-size: 1.68rem;
      background-color: transparent;
      cursor: pointer;
      transition: all $trans-ease;
      &:focus,
      &:hover {
        border-bottom: solid 2px $accent-col;
        margin-bottom: 33px;
        //Placeholder color
        &::-webkit-input-placeholder {
          color: $accent-col;
        }
        &::-moz-placeholder {
          color: $accent-col;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
          color: $accent-col;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
          color: $accent-col;
        }
      }
    }
    button {
      margin-top: 0;
      transition: all $trans-ease;
    }

  }
}



/* $Article-slider
*******************************/
.article-slider{
  margin-bottom: 150px;
  .title{
    margin-bottom: 30px;
    padding:0 40px;
  }

  .article-slider-link{
    position: relative;
  }
  .next-arrow,
  .prev-arrow{
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    opacity: .3;
    &:hover{
      opacity: 1;
    }
  }
  .prev-arrow{
    left: 33px;
  }
  .next-arrow{
    right: 77px;
  }
}




