/*  Table of Contents

    Use (CMD/CRL + F $[SECTION] to quickly find what you are looking for [SECTION] )

1.  Blog
2.  Blog list
3.  Tag cloud
4.  Subscribe

*/



/* $Blog
***************************/
.blog{
  margin-bottom: 90px;
}
.blog-header,
.article-header{
  margin-left: 8.33333333%;
  margin-bottom: 50px;
  width: 58.33333333%;
}




/* $Blog list
***************************/
.tag-cloud-mob {
  display: none;
}

// Blog item
.blog-item {
  margin-bottom: 58px;
  .content-header{
    margin-bottom: 27px;
  }
  .link:hover .content-header {
    color: $accent-col;
  }
  .blog-img {
    float: left;
    width: 135px;
    height: 200px;
    background-color: $accent-col;
    background-repeat: no-repeat;
    background-position: center;
  }
}
// Blog content
.blog-content {
  padding-left: 165px;
  time{
    margin-bottom: 12px;
    display: inline-block;
    font-family: $Avenir-demi;
    font-size: 1.4rem;
    line-height: 1;
    color: #fdbb00;
  }
  .content-header {
    font-size: 3rem;
  }

}



/* $Tag-cloud $Subscribe
***************************/

// Tag-cloud
.tag-cloud{
  margin-top: -5px;
  margin-bottom: 70px;
  padding-left: 25px;
  li{
    margin-bottom: 7px;
    font-family: $Avenir-demi;
    font-size: 1.4rem;
    line-height: 1.45;
  }
}



// Subscribe
.article .subscribe,
.blog .subscribe{
  padding-left: 25px;
  .content-header{
    margin-bottom: 35px;
    padding-right: 16%;
    font-size: 3rem;
  }

  // Form
  form {
    .content-header {
      margin-bottom: 45px;
      font-size: 3rem;
    }
    input,
    .btn {
      display: block;
      margin-bottom: 34px;
    }
    .btn{
      &:before{
        content: 'Подписаться';
      }
      &:after{
        content: 'Подписаться';
      }
    }
    input {
      width: 100%;
      border: none;
      border-bottom: solid 1px #a5a5a5;
      outline: none;
      font-size: 1.68rem;
      background-color: transparent;
      cursor: pointer;
      transition: all $trans-ease;
      &:focus,
      &:hover {
        border-bottom: solid 2px $accent-col;
        margin-bottom: 33px;
        //Placeholder color
        &::-webkit-input-placeholder {
          color: $accent-col;
        }
        &::-moz-placeholder {
          color: $accent-col;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
          color: $accent-col;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
          color: $accent-col;
        }
      }
    }
    button {
      margin-top: 40px;
      transition: all $trans-ease;
    }
    input:focus + button,
    input:hover + button{
      margin-top: 39px;
    }
  }
}