/* Table of Contents

	Use (CMD/CRL + F $[SECTION] to quickly find what you are looking for [SECTION] )

1.  Map
2.  Breadcrumb
3.  Contacts

*/




/* $Map
***********************************/
.rotate-map{
  background-color: transparent;
  top: -738px;
  left: 86.5%;
  .map-wrap{
    transform: rotate(-45deg);
    position: absolute;
    left: -100px;
    right: -100px;
    top: -25px;
    bottom: -100px;
  }
  #map{
    position: absolute;
    width: 100%;
    height: 100%;

  }
}



/* $Breadcrumb
***********************************/
.breadcrumb{
  margin-top: 75px;
  padding-top: 35px;
  padding-bottom: 22px;
  li{
    display: inline-block;
    font-size: 1.4rem;
    .link{
      color: #c6c7c7;
      &:hover:not(.last-crumb) span{
        color: $accent-col;
      }
    }
    .last-crumb{
      font-weight: 700;
    }
    .double-right{
      padding: 0 5px;
      font-family: $Avenir-demi;
      color: #c6c7c7;
      font-size: 1.2rem;
    }
  }
}




/* $Contacts
***********************************/
.contacts{
  margin-bottom: 150px;
  .contact-info{
    display: inline-block;
    vertical-align: bottom;
    float: none;
    .content-header{
      margin-bottom: 70px;
    }
  }

  .contact-photo{
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 22% 0%;
    border-radius: 30px;
  }
  .contact-name{
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    font-family: $Avenir-light;
    font-size: 3rem;
  }

  //write-to
  .write-to{
    margin-top: 30px;
    margin-bottom: 25px;
    padding-right: 10%;
    font-size: 3rem;
    font-family: $Avenir-light;
    line-height: 1.2;
    .link{
      font-family: $Avenir-demi;
      color: $accent-col;
    }
  }
  .write-to-list{
    margin-bottom: 65px;
    .text{
      position: relative;
      margin-bottom: 12px;
      padding: 0 20% 0 30px;
    }
  }

  //contact-info-data
  .contact-info-data{
   font-size: 3rem;
    margin-bottom: 70px;
   li{
     margin-bottom: 60px;
   }
    .phone{
      .icon{
        background-position: 3px 0  ;
      }
      .data-text{
        pointer-events: none;
      }
    }
    .skype{
      .icon{
        background-position: -38px 0;
      }
      .data-text{
        color: $accent-col;
      }
    }
    .address{
      .icon{
        background-position: -80px 3px;
      }
      &:hover .data-text{
        color: $accent-col;
      }

    }
    .requisites{
      .icon{
        background-position: -123px 1px;
      }
    }


    .icon{
      width: 30px;
      height: 30px;
      float: left;
      margin-top: 6px;
      background-repeat: no-repeat;
    }
    .data-text{
      display: inline-block;
      padding-left: 3px;
      line-height: 1.2;
      transition: color $trans-ease;
    }
 }

  //Social 
  .social{
    width: 100%;
    .link{
      width: 50px;
      height: 50px;
      border: solid 2px #d9d9d9;
      font-size: 2.5rem;
      color: #d9d9d9;
      i{
        vertical-align: bottom;
      }
      &:hover{
        &.facebook{
          color: #3b5998;
          border-color: #3b5998;
        }
        &.instagram{
          color: #3f729b ;
          border-color: #3f729b;
        }
        &.youtube{
          color: #cd201f ;
          border-color: #cd201f;
        }
        &.google{
          color: #d34836;
          border-color: #d34836;
        }
        &.linkedin{
          color: #0077b5;
          border-color: #0077b5;
        }
      }
    }
  }


  //contact callback-form
  .callback-form{
    display: inline-block;
    margin-bottom: 95px;
    vertical-align: bottom;
    float: none;
  }

}
