/* Table of Contents

	Use (CMD/CRL + F $[SECTION] to quickly find what you are looking for [SECTION] )

1.  Equipment_all
2.  Equipment_all_list
3.  Callback-form-equipment

*/


/* $Equipment_all
***************************/
.equipment_all{
  .equipment_all-header{
    margin-bottom: 45px;
    margin-left: 8.33333333%;
    width: 58.33333333%;
  }
  .tag-cloud{
    margin-top: 0;
    margin-bottom: 65px;
    li{
      margin-bottom: 9px;
      line-height: 1.4;
    }
  }

}



/* $Equipment_all_list
***************************/
.equipment_all_list{
  margin-bottom: 80px;
  li{
    position: relative;
    margin-bottom: 65px;
    a{
      display: block;
      padding-left: 60px;
      .content-header{
        width: 72%;
        margin-bottom: 27px;
        font-size: 3rem;
        transition: color .15s ease;
      }
      &:hover .content-header{
        color: $accent-col;
      }
    }
  }
  .icon{
    position: absolute;
    width: 50px;
    height: 55px;
    left: 0;
    top: 5px;
    background-repeat: no-repeat;
    transition: all .15s ease;
  }


  // Icons
  .poros_pocr{
    &:hover .icon{
      background-position: 0 -90px;
    }
  }
  .recuper{
    .icon{
      background-position: -59px 0;
    }
    &:hover .icon{
      background-position: -57px -91px;
    }
  }
  .regener{
    .icon{
      background-position: -120px 0;
    }
    &:hover .icon{
      background-position: -117px -92px;
    }
  }
  .filter{
    .icon{
      background-position: -187px 0;
    }
    &:hover .icon{
      background-position: -187px -90px;
    }
  }
  .zamesh{
    .icon{
      background-position: -253px 0;
    }
    &:hover .icon{
      background-position: -253px -91px;
    }
  }
  .vostanov {
    .icon {
      background-position: -335px 0;
    }
    &:hover .icon {
      background-position: -335px -93px;
    }
  }
  .modul {
    .icon {
      background-position: -408px 0;
    }
    &:hover .icon {
      background-position: -408px -90px;
    }
  }
  .alternativ {
    .icon {
      background-position: -475px 0;
    }
    &:hover .icon {
      background-position: -475px -92px;
    }
  }
}


/* $Callback-form-equipment
***************************/
.callback-form-equipment{
  padding-left: 25px;
  .content-header{
    margin-bottom: 25px;
  }
  button{
    margin-top: 40px;
  }
   input:focus + button,
   input:hover + button{
    margin-top: 39px;
  }
}