/*AvenirNextW1G-Light*/
@font-face {
	font-family: "AvenirNextW1G-Light";
	src: url("../fonts/AvenirNextW1G-Light/AvenirNextW1G-Light.eot");
	src: url("../fonts/AvenirNextW1G-Light/AvenirNextW1G-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AvenirNextW1G-Light/AvenirNextW1G-Light.woff") format("woff"),
	url("../fonts/AvenirNextW1G-Light/AvenirNextW1G-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


/*AvenirNextW1G-Bold*/
@font-face {
	font-family: "AvenirNextW1G-Bold";
	src: url("../fonts/AvenirNextW1G-Bold/AvenirNextW1G-Bold.eot");
	src: url("../fonts/AvenirNextW1G-Bold/AvenirNextW1G-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AvenirNextW1G-Bold/AvenirNextW1G-Bold.woff") format("woff"),
	url("../fonts/AvenirNextW1G-Bold/AvenirNextW1G-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


/*AvenirNextW1G-Regular*/
@font-face {
	font-family: "AvenirNextW1G-Regular";
	src: url("../fonts/AvenirNextW1G-Regular/AvenirNextW1G-Regular.eot");
	src: url("../fonts/AvenirNextW1G-Regular/AvenirNextW1G-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AvenirNextW1G-Regular/AvenirNextW1G-Regular.woff") format("woff"),
	url("../fonts/AvenirNextW1G-Regular/AvenirNextW1G-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


/*AvenirNextW1G-Demi*/
@font-face {
	font-family: "AvenirNextW1G-Demi";
	src: url("../fonts/AvenirNextW1G-Demi/AvenirNextW1G-Demi.eot");
	src: url("../fonts/AvenirNextW1G-Demi/AvenirNextW1G-Demi.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AvenirNextW1G-Demi/AvenirNextW1G-Demi.woff") format("woff"),
	url("../fonts/AvenirNextW1G-Demi/AvenirNextW1G-Demi.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}



/*AvenirNextW1G-Heavy*/
@font-face {
	font-family: "AvenirNextW1G-Heavy";
	src: url("../fonts/AvenirNextW1G-Heavy/AvenirNextW1G-Heavy.eot");
	src: url("../fonts/AvenirNextW1G-Heavy/AvenirNextW1G-Heavy.eot?#iefix")format("embedded-opentype"),
	url("../fonts/AvenirNextW1G-Heavy/AvenirNextW1G-Heavy.woff") format("woff"),
	url("../fonts/AvenirNextW1G-Heavy/AvenirNextW1G-Heavy.ttf") format("truetype");

}

