/* Table of Contents

    Use (CMD/CRL + F $[SECTION] to quickly find wat you are looking for [SECTION])


  MAX WIDTH 1279

  Main page
1.	Main style
2.	Header
3.  Slider
4.  Advantage
5.  Blog short
6.	Benefit
9.  Clients-short
10. Footer

 About company
1.  About-company
2.  About-team
3.  Partner & Clients-slider
4.  Cooperation-scheme



 Contacts page
1.  Map
2.  Breadcrumb
3.  Contacts

 Blog page
1.  Blog list
2.  Tag cloud
3.  Subscribe

 Article page
1.  Article
2.  Social
3.  Tag cloud
4.  Subscribe
5.  Article-content
6.  Question

 Equipment All page
1.  Equipment_all
2.  Equipment_all_list
3.  Callback-form-equipment

 Equipment page
1.  Equipment
2.  Modal-content

 Work page
1.  Work
2.  Work-content
3.  Flowchart
4.  Pie-chart

 Clients page
1.  Clients
2.  Clients-list
3.  Write-message-box

 Partners
1.  Partners

 Site_map page
1.  Site-map

 Sorry-page
1.  Sorry-page

 Search page
1.  Search
2.  Search-result

 Error page
1.  Error-page


 MAX WIDTH 767


  Main page
1.	Main style
2.	Header
3.  Hamburger menu
4.  Slider
5.  Advantage
6.  Blog
7.	Benefit
8.  Clients-short
9.  Footer




 About company
1.  About-company
2.  About-team
3.  Partner & Clients-slider
4.  Cooperation-scheme





 Contacts page
1.  Map
2.  Breadcrumb
3.  Contacts

 Blog page
1.  Blog list
3.  Tag cloud
4.  Subscribe

 Article page
1.  Article
2.  Tag cloud
3.  Subscribe
4.  Article-content
5.  Question
6.  Article slider

 Equipment All page
1.  Equipment_all
2.  Equipment_all_list
3.  Callback-form-equipment

 Equipment page
1.  Equipment-img
2.  Modal-content

 Work page
1.  Work
2.  Work-content
3.  Flowchart
4.  Pie-chart

 Clients page
1.  Clients
2.  Clients-list

 Site_map page
1.  Site-map

 Sorry-page
1.  Sorry-page

 Search page
1.  Search
2.  Search-result

 Error page
1.  Error-page


 */




/*********************/
/*** Max-width 1279 ***/
/*********************/
@media screen and (max-width: 1279px) {


  /* $Main style
  ******************************/
  html {
    font-size: 8.5px;
  }


  // Container fluid
  .container-fluid{
    padding: 0 20px;
    max-width: 100%;
  }

  .number-xl{
    font-size: 8.5rem;
  }

   // Rotate
  .rotate{
    top: -390px;
    left: 46.5%;
    width: 600px;
    height: 600px;
    border-radius: 160px;
  }


  // Content header
  .content-header {
    margin-bottom: 15px;
    font-size: 3.55rem;
    line-height: 1.2;}

  // Text
  .text {
    font-size: 1.89rem;
  }

  //Next
  .next:after {
    padding-left: 10px;
    vertical-align: middle;
    font: normal normal normal 15px/1 FontAwesome;
  }


  // Btn
  .btn{
    font-size: 2rem;
  }
  form .btn{
    &:before,
    &:after{
      font-size: 2rem;
    }
  }



    /* $Header
    ******************************/
  header.scroll-start .header-nav .logo img{
    max-width: 97px;

  }
  .header-nav {
    //nav
    .nav {
      ul {
        margin-left: 36px;
      }
      a {
        padding: 5px 0;
        &:hover{
          border-color: transparent;
        }
      }
      li + li a {
        padding-left: 22px;
      }
    }
    // Search form
    .search-form{
      .form-control:hover,
      .form-control:focus,
      .search-icon:hover + .form-control,
      .search-icon:focus + .search-icon{
        width: 115px;
      }
      .search-icon{
        top: 4px;
        right: 0;
      }
    }
    // Lang
    .lang {
      padding: 4px 0;
      font-size: 1.5rem;
      &:before {
        display: none;
      }
    }
  }




  /* $Slider
  ******************************/
  .slider-main{

    // Slider top
    .slider-top{
      .slider-top_item{
        min-height: 285px;
      }
      .content{
        padding-right: 18%;
      }
      .slider-top-title{
        font-size: 5.6rem;
      }
      .slider-top-text{
        font-size: 2.45rem;
      }
    }

    // Slider bottom
    .slider-bottom{
      padding-top: 11.5%;
      margin-bottom: 85px;
      .h3 {
        font-size: 1.9rem;
        margin-bottom: 15px;
      }

      // Arrow
      .arrow{
        max-width: 600px;
        .prev-arrow > i,
        .next-arrow > i{
          vertical-align: sub;
        }
        .next-arrow {
          right: 22px;
          top: -11px;
        }
        .prev-arrow {
          right: 80px;
          top: -12px;
        }
      }

      .slider-bottom_list{
        max-width: 600px;
      }
      .slider-bottom_item {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 300px;
        height: 104px;
        .text{
          font-size: 1.85rem;
        }
        .icon{
          height: 104px;
        }
      }
    }
  }



  /* $Advantage
  ******************************/
  .advantage{
    margin-bottom: 45px;
    .advantage-list {
      .advantage-item {
        width: 47%;
        margin-bottom: 42px;
        &:not(:nth-child(3n+1)){
          padding-left: 0;
        }
        &:not(:nth-child(3n)){
          padding: 0;
        }

        &:nth-child(even) {
          padding-left: 25px;
        }
        .advantage-title{
          margin-bottom: 10px;
          font-size: 2.42rem;
        }
        .link{
          font-size: 1.65rem;
        }
      }
    }
    .advantage-header .text{
      margin-bottom: 45px;
    }
  }


  /* $Blog short
  ******************************/
  .article-slider,
  .about-team,
  .blog-short{
    margin-bottom: 90px;
    .blog-short-title{
      margin-bottom: 55px;
      padding-left: 12px;
      .text{
        font-size: 1.89rem;
        line-height: 27px;
      }
    }
    .blog-short-link{
      margin: 0 10px;
    }
    .img-link{
      height: 40vw;
      margin: 0 10px;
      padding: 35px 0 5px 20px;
      &:hover .hidden-text{
        height: 18vw;
      }
      .hidden-text{
        overflow: scroll;
      }
      .img-link-header{
        font-size: 2.42rem;
        padding-right: 10px;
      }
      .read-more{
        font-size: 1.9rem;
        margin-top: 10px;
      }
    }
  }




  /* $Benefit
******************************/
  .benefit {
    margin-bottom: 60px;
    .rotate {
      top: -385px;
      left: -54.5%;
      width: 560px;
      height: 560px;
      border-radius: 150px;
    }
    // Benefit-list
    .benefit-list {
      margin-bottom: 55px;
      li{
        margin-bottom: 40px;
      }
      .content-header{
        margin-bottom: 30px;
      }
      .text {
        .sub-title{
          margin-bottom: 5px;
          font-size: 2.42rem;
        }
        .descr{
          font-size: 1.9rem;
        }
      }
    }

    // Callback-form
    .callback-form{
      padding: 0 6% 0 0;
      input{
        font-size: 2rem;
        padding: 5px 0;
      }
      input,
      button{
        margin-bottom: 30px;
      }
      .content-header{
        margin-bottom: 25px;
        font-size: 2.35rem;
      }
    }
  }




  /* $Clients-short
  ******************************/
  .clients-short{
    margin-bottom: 77px;
    .brand-list li{
      width: 118px;
      margin-bottom: 10px;
    }
  }




  /* $Footer
  ******************************/
  footer{

    // Top footer
    .top-footer{
      padding: 97px 0 80px 0;
      .main-nav,
      .services-nav{
        width: 100%;
      }
    }
    .title{
      font-size: 1.65rem;
    }
    .link {
      font-size: 1.65rem;
    }
    .footer-nav li {
      margin-bottom: 18.5px;
    }
    .main-nav .search-form {
      margin-right: 50%;
      margin-bottom: 50px;
    }
    .services-nav{
      padding-right: 8%;
    }

    .subscribe{
      padding-left: 1%;
      padding-right: 3%;
      input{
        font-size: 1.65rem;
      }
      form {
        margin-bottom: 182px;
      }
    }

    // Bottom footer
    .bottom-footer{
      min-height: 180px;
      padding-top: 35px;
      font-size: 1.65rem;
    }
    .copyright-social{
      .copyright{
        width: 100%;
        margin-bottom: 15px;
        line-height: 1.5;
        p:first-of-type{
          margin-bottom: 8px;
        }
      }
      .social{
        width: 100%;
        .link{
          margin: 0 28px 0 0;
          font-size: 1.8rem;
        }
      }
    }
    .fresh {
      margin: 10px 10px;
    }
  }


  /* $About-company
  **************************/
  .about-company{
    margin-bottom: 55px;
    .about-company-header{
      margin-bottom: 28px;
    }
    .title-list{
      margin-bottom: 35px;
      font-size: 2.35rem;
    }
    aside{
      margin-bottom: 20px;
      padding-left: 0;
      font-size: 1.65rem;
      li{
        display: inline-block;
        margin-right: 15px;
      }
    }
    .develop-list{
      margin-bottom: 40px;
      li{
        .bold {
          font-size: 2.1rem;
        }
      }
      & ~ .text{
        margin-bottom: 25px;
      }
    }
  }


  /* $About-teem
  **************************/
  .about-team{
    margin-bottom: 60px;
    .join .img-link:hover .hidden-text {
      padding: 20px;
      height: 38vw;
      overflow-y: scroll;
    }
    .img-link{
      height: 39vw;
      padding: 35px 0 15px 20px;
    }
    .img-link-header .surname {
      margin-bottom: 12px;
    }
    .team-slider{
      .img-link{
        width: 91%;
      }
      .prev-arrow {
        left: 32px;
      }
      .next-arrow{
        right: 4%;
      }

    }
    .content-header {
      margin-bottom: 20px;
      font-size: 2.35rem;
    }
    .title{
      margin-bottom: 25px;
      padding: 0 20px;
    }
  }

  .prev-arrow > i,
  .next-arrow > i{
    vertical-align: sub;
  }


  /* $Partner & Clients-slider
  **************************/
  .about-partner,
  .about-clients{
    .content-header{
      margin-bottom: 20px;
      font-size: 2.35rem;
    }

    .title{
      margin-bottom: 30px;
    }
    .brand-list {
      padding: 0 20px;
      li {
        height: 115px;
        width: 111px;
      }
    }
  }
  .about-partner{
    .partner-slider {
      margin-bottom: 30px;
    }
    .bottom-text {
      margin-bottom: 50px;
    }
  }

  /* $Cooperation-scheme
  ********************************/
  .cooperation-scheme{
    margin-top: 25px;
    .content-header{
      margin-bottom: 20px;
      font-size: 2.35rem;
    }
    .line{
      width: 46%;
      margin-top: 22px;
    }
  }
  .first-step{
    margin-bottom: 95px;
    margin-top: 38px;
    .text {
      padding-left: 16px;
    }
  }
  .number-xl {
    margin-bottom: -3px;
  }


  /* $Map
  ************************************/

  .rotate.rotate-map{
    top: -505px;
    left: 45.5%;
  }
  /* $Breadcrumb
  ************************************/
  .breadcrumb{
    margin-top: 62px;
    padding-bottom: 15px;
    li{
      font-size: 1.7rem;
    }
  }


  /* $Contacts
  ************************************/
  .contacts{
    margin-bottom: 0;
    .contact-info{
      .content-header {
        margin-bottom: 32px;
      }
    }

    .contact-photo {
      width: 70px;
      height: 70px;
      border-radius: 20px;
      background-size: 260%;
    }
    .contact-name {
      font-size: 2.35rem;
    }

    .write-to {
      margin-top: 20px;
      margin-bottom: 18px;
      padding-right: 41%;
      font-size: 2.35rem;
      line-height: 1.24;
    }
    .write-to-list{
      margin-bottom: 50px;
      padding-right: 45%;
      .text {
        padding: 0 0 0 30px;
      }
    }

    .contact-info-data {
      margin-bottom: 50px;
      font-size: 2.3rem;
      li{
        margin-bottom: 54px;
      }
      .icon {
        margin-top: 0;
      }
      .data-text {
        line-height: 1.3;
      }
    }

    .social{
      margin-bottom: 50px;
      .link {
        margin: 0;
        font-size: 3rem;
        + .link{
          margin-left: 30px;
        }
      }
    }

    .callback-form {
      margin-bottom: 44px;
      padding-left: 0;
      padding-right: 41%;
      .content-header {
        margin-bottom: 25px;
        font-size: 2.4rem;
      }
      input,
      button {
        margin-bottom: 32px;
      }
      input {
        padding: 5px 0;
        font-size: 1.88rem;
      }
      button {
        margin-top: 30px;
      }
    }
  }




  /* $Blog list
*************************/
  .blog{
    .tag-cloud:not(.tag-cloud-mob){
      display: none;
    }
  }

  .blog-header{
    margin-bottom: 30px;
  }

  // Blog item
  .blog-item{
    margin-bottom: 48px;
    .content-header {
      margin-bottom: 20px;
    }
  }
  // Blog content
  .blog-content{
    time{
      margin-bottom: 15px;
      font-size: 1.65rem;
    }
    .content-header {
      padding-right: 25%;
      font-size: 2.42rem;
    }

  }


  /* $Tag-cloud $Subscribe
  ***************************/

  .blog {
    margin-bottom: 65px;
  }
  .blog .subscribe{
    margin-bottom: 35px;
  }
  .article,
  .blog{
    .tag-cloud-mob {
      display: block;
    }
      .tag-cloud{
      display: block;
      margin-bottom: 40px;
      padding-right: 10%;
      padding-left: 0;
      li{
        display: inline;
        margin-right: 10px;
        line-height: 2;
        font-size: 1.7rem;
      }
    }
    .subscribe{
      padding-left: 0;
      .content-header{
        margin-bottom: 25px;
        font-size: 2.42rem;
      }
      form{
        input {
          margin-bottom: 30px;
          width: 100%;
          max-width: 385px;
          display: inline-block;
          font-size: 2rem;
          padding: 4px 0;
        }
        button{
          margin-top: 0;
        }
      }
    }
  }



  /* $Article
  ********************************/

  .article .subscribe form input:focus + button,
  .article .subscribe form input:hover + button,
  .blog .subscribe form input:focus + button,
  .blog .subscribe form input:hover + button,
  .article .subscribe form button,
  .blog .subscribe form button{
    margin: 0;
  }

  .article .subscribe form input:focus,
  .article .subscribe form input:hover,
  .blog .subscribe form input:focus,
  .blog .subscribe form input:hover {
    margin-bottom: 29px;
  }

  .article {
    .article-header {
      width: 66.3333333%;
      margin-bottom: 30px;
    }

    /* $Article-content
    ********************************/

    .subscribe {
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all $trans-ease;
      form{
        padding-right: 3.3333%;
      }
    }
    .open + .subscribe {
      height: auto;
      opacity: 1;
      margin-bottom: 50px;
    }

    /* $Article-content
    ********************************/
    .for-revers {
      display: table;
      margin-bottom: 35px;
    }
    .tag-cloud {
      display: table-footer-group;
    }

    .subscribe-show {
      display: inline-block;
    }


    /* $Social
    ********************************/
    .social {
      left: 20px;
      &.fixed{
        left: 20px;
      }
      .link {
        width: 35px;
        height: 35px;
        font-size: 2rem;
        + .link {
          margin: 20px 0 0 0;
        }
      }
       &.fixed {
        top: 62px;
      }
    }
  }

  /* $Article-content
  *********************************/
  .article-content{
    time{
      margin-bottom: 15px;
      font-size: 1.65rem;
    }
    .article-photo{
      margin-bottom: 25px;
    }
    figure {
      margin-bottom: 40px;
    }
    .content-header {
      margin-bottom: 20px;
      font-size: 2.35rem;
    }
    .develop-list {
       margin-bottom: 37px;
     }
  }


  /* $Question
  ********************************/

  .question{
    margin-bottom: 45px;
    .content-header {
      margin-bottom: 12px;
    }
    form{
      input{
        width: 100%;
        max-width: 385px;
        margin-bottom: 30px;
        padding: 5px 0;
        font-size: 2rem;
      }
    }
    .question-mail,
    .btn{
      margin-right: 0;
    }
    .btn {
      margin-right: 0;
      vertical-align: super;
      margin-top: -10px;
    }
  }


  .article-slider{
    .title {
      margin-bottom: 7px;
      padding: 0 20px;
  }

    .article-slider-link{
      margin-left: 10px;
      margin-right: 10px;
    }
    .prev-arrow{
      left: 30px;
    }
    .next-arrow{
      right: 40px;
    }
    .prev-arrow,
    .next-arrow{
      i{
        vertical-align: bottom;
      }
    }

  }




  /* $Equipment_all
  ****************************/
  .equipment_all{
    margin-bottom: 60px;
    .equipment_all-header{
      margin-bottom: 30px;
    }
    .tag-cloud{
      margin-bottom: 35px;
      padding-left: 0;
      li{
        padding-right: 10px;
        display: inline-block;
        font-size: 1.66rem;
      }

    }
  }



  /* $Equipment_all_list
  ****************************/
  .equipment_all_list{
    margin-bottom: 14px;
    li{
      margin-bottom: 40px;
      a{
        .content-header{
          width: 65%;
          margin-bottom: 18px;
          line-height: 1.3;
          font-size: 2.4rem;
        }
      }
    }
    .icon{
      top:0;
    }
  }


  /* $Callback-form-equipment
  ****************************/
  .callback-form-equipment{
    margin-bottom: 40px;
    padding-left: 0;
    .content-header{
      margin-bottom: 17px;
      font-size: 3.5rem;
    }
    input{
      display: block;
      width: 100%;
      font-size: 2rem;
    }
    .btn{
      margin-top: -12px;
    }

  }

  form{
    .left{
      margin-right: 45px;
    }
    .left,
    .right{
      display: inline-block;
      width: 44%;
      vertical-align: top;
    }
  }


  /* $Equipment
  ****************************/

  .equipment{
    .tag-cloud{
      display: block;
      padding-right: 0;
    }
  }

  .equipment-img {
    .main-img {
      height: 370px;
      width: 95%;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .demo-img {
      margin-left: -10.5%;
      margin-right: -12.5%;
      margin-bottom: 20px;
      li{
        padding-left: 0;
      }
    }
  }
  .modal-content{
    .demo-img{
      li{
        width: 60px;
        + li {
          margin-left: 20px;
        }
      }
    }
  }
  .img{
    height: 90px;
  }

  .demo{
    height: 40px;
    width: 60px;
  }
  .equipment-img {
    margin-bottom: 42px;
  }



  /* $Modal-content
  ******************************/
  .modal {
    padding-top: 110px;
    .prev-arrow > i,
    .next-arrow > i{
      vertical-align: sub;
    }
    .close{
      right: 22px;
    }
  }
  .modal-content {
    padding: 7% 5% 0 5%;
    width: 94%;
    .demo-img{
      margin-bottom: 30px;
    }
    .main-img-wrap{
      margin-bottom: 30px;
    }
  }
  .main-img {
    height: 390px;
  }


  /* $Work
  *********************************/
  .work{
    .work-header{
      margin-bottom: 28px;
    }
    aside{
      margin-bottom: 20px;
      padding-left: 0;
      font-size: 1.65rem;
      li{
        display: inline-block;
        margin-right: 15px;
      }
    }

  }

  /* $Work-content
  *********************************/
  .work-content{
    margin-bottom: 25px;
    padding-right: 0;
    .text{
      margin-bottom: 28px;
    }
  }

  /* $Flowchart
  ************************/
  .flowchart{
    margin: 55px 10px 75px 0;
    img{
      margin: -92px 0 -70px 0;
    }
    .text{
      width: 50%;
    }
  }


  /* $Pie-chart
  *********************************/
  .pie-chart{
    margin-top: 35px;
    margin-bottom: 30px;
    .tablet{
      display: inline-block;
      max-width: 57%;
    }
    img{
      display: none;
    }
  }


  /* $Clients
  ***************************/
  .clients{
    margin-bottom: 18px;
    .clients-header{
      margin-bottom: 28px;
    }
    aside{
      margin-bottom: 20px;
      padding-left: 0;
      font-size: 1.65rem;
      li{
        display: inline-block;
        margin-right: 11px;
      }
    }
  }


  /* $Clients-list
  *************************/
  .clients-content{
    padding-right: 10%;
  }
  .clients-list{
    margin: 38px 0 75px 0;
    li {
      padding-left: 10.5%;
      margin-bottom: 55px;
      .brand-icon-wrap {
        margin-left: -11.5%;
        width: 11%;
        img {
          max-width: 80%;
        }
      }
      .content-header {
        margin-bottom: 20px;
        font-size: 2.3rem;
        vertical-align: inherit;
      }
      .bubble-message{
        margin-top: 25px;
        padding: 40px 45px;
        &:after{
          left: 38%;
          bottom: -70px;
        }
      }
    }
  }

  /* $Write-message-box
  **************************/
  .write-message{
    padding-right: 10%;
  }
  .write-message-box{
    padding: 45px 50px;
    .btn{
      margin-top: 40px;
      &:before,
      &:after{
        font-size: 1.9rem;
      }
    }
  }



  /* $Partner
  ********************************/
  .partner-list{
    li{
      margin-bottom: 40px;
    }
  }



  /* $Site-map
  *****************************/
  .site-map{
    margin: 135px auto 77px auto;
  }
  .map-list{
    margin-top: 40px;
    font-size: 1.65rem;
  }



  /* $Sorry-page
  *************************/
  .sorry-page{
    margin: 135px auto 100px auto;
    .content-header{
      margin-bottom: 27px;
    }
    .line-break{
      display: inline-block;
    }
    .text.bold{
      margin-top: 48px;
    }
  }


  /* $Search
  *******************************/
  .search{
    margin: 145px auto 50px auto;
    .content-header {
      margin-bottom: 30px;
    }
    .search-form{
      margin-bottom: 15px;
      .form-control {
        font-size: 1.9rem;
      }
      .search-icon {
      }
    }
  }


  /* Search result
  **************************/
  .search-result{
    .results-sum {
      margin-bottom: 35px;
    }
    .results-item{
      margin-bottom: 45px;
    }
    time{
      font-size: 1.6rem;
    }
    .content-header{
      margin-bottom: 12px;
      font-size: 2.35rem;
    }
  }



  /* $Error-page
  *****************************/
  .error-page{
    margin: 134px auto 60px auto;
    .content-header{
      margin-bottom: 25px;
    }
    .search-form {
      width: 34%;
      .form-control {
        padding: 6px 30px 6px 15px;
        width: 100%;
      }
      .search-icon {
        top: 8px;
        width: 22px;
      }
    }
  }
  .error-page-content {
    width: 595px;
    margin: 60px auto 10px auto;
    img {
      margin-bottom: 28px;

    }
    .content-header {
      font-size: 2.35rem;
      line-height: 1.33;
    }
  }

}








/*********************/
/*** Max-width 767 ***/
/*********************/
@media screen and (max-width: 767px) {



  /* $Main style
  *************************************/
  html {
    font-size: 5px;
  }


  .content{
    padding-top: 50px;
  }
  // Content header
  .content-header{
    font-size: 4.4rem;
    line-height: 1.3;
  }

  // Rotate
  .rotate {
    top: -200px;
    //left: 32.5%;
    right: -100px;
    left: auto;
    width: 315px;
    height: 315px;
    -webkit-border-radius: 160px;
    border-radius: 85px;
  }

  // Text
  .text{
    font-size: 3.2rem;
  }

  // Quotes
  .quotes{
    font-size: 10rem;
  }

  // Btn

  form .btn {
    &:before,
    &:after{
      font-size: 3.3rem;
    }
  }

  .btn{
    font-size: 3.3rem;
  }

  /* $Header
  *************************************/

  header.scroll-start .header-nav{
    margin: 0;

  }
  .header-nav {
    position: absolute;
    right: -1000px;
    margin: 0;
    background-color: #f4f4f4;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 20px 35px 20px ;
    .logo img{
      width: 44%;
    }
    &.open{
      right: 0;
      width: 100%;
    }
    .nav {
      margin-top: 35px;
      ul {
        margin-left: 0;
      }
      .mobile-item{
        display: block;
      }
      li {
        display: block;
        margin-bottom: 22px;
        + li a {
          padding: 0;
        }
        a {
          padding: 0;
          width: 100%;
          font-size: 3.2rem;
        }
      }
    }

    .lang_search {
      .search-form {
        float: none;
          .form-control:hover,
          .form-control:focus,
          .search-icon:hover + .form-control,
          .search-icon:focus + .search-icon{
            width: 100%;
          }
        .form-control {
          padding: 3px 30px 3px 15px;
          width: 100%;
          border-color: $accent-text;
          margin: 0 0 20px 0;
          font-size: 3.2rem;
        }
        .search-icon {
          top: 7px;
          right: 1px;
        }
      }
      .lang {
        float: none;
        display: block;
        margin: 0 0 20px 0;
        text-align: center;
        font-size: 3.2rem;
        .lang-ru:first-child,
        .lang-en:first-child{
          color: $accent-col;
        }
        .lang-ru,
        .lang-en{
          color: $accent-text;
        }
      }
    }
    .mob-mail{
      display: block;
      margin-bottom: 35px;
      font-size: 3.2rem;
      text-align: center;
    }
    .social{
      display: block;
      width: 100%;
      text-align: center;
      .link{
        margin: 0 12.5px;
        border-color: #dbdbdb;
        font-size: 3.1rem;
        color: #dbdbdb;
      }
    }
  }

  .mob-logo{
    position: absolute;
    padding: 20px;
    display: inline-block;
    z-index: 2;
    img{
      width: 74%;
    }

  }



  /* $Hamburger menu
  *************************************/
  .mob-menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
  }
  #menu-toggle {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    background: #e9e9e9;
    border-radius: 40px;
    * {
      transition: .25s ease-in-out;
      box-sizing: border-box;
    }

    span {
      display: block;
      background: $accent-text;
      border-radius: 2px;
    }

    #hamburger {
      position: absolute;
      height: 100%;
      width: 100%;
      span {
        width: 20px;
        height: 2px;
        position: relative;
        top: 9px;
        left: 10px;
        margin: 4px 0;
        &:nth-child(1) {
          transition-delay: .5s;
        }
        &:nth-child(2) {
          transition-delay: .625s;
        }
        &:nth-child(3) {
          transition-delay: .75s;
        }
      }
    }
    #cross {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: rotate(45deg);
      span {
        &:nth-child(1) {
          height: 0%;
          width: 3px;
          position: absolute;
          top: 19%;
          left: 19px;
          transition-delay: 0s;
        }
        &:nth-child(2) {
          width: 0%;
          height: 3px;
          position: absolute;
          left: 19%;
          top: 19px;
          transition-delay: .25s;
        }
      }
    }
  }

  #menu-toggle.open {
    #hamburger {
      span {
        width: 0%;
        &:nth-child(1) {
          transition-delay: 0s;
        }
        &:nth-child(2) {
          transition-delay: .125s;
        }
        &:nth-child(3) {
          transition-delay: .25s;
        }
      }
    }
    #cross {
      span {
        &:nth-child(1) {
          height: 60%;
          transition-delay: .625s;
        }
      }
      span {
        &:nth-child(2) {
          width: 60%;
          transition-delay: .375s;
        }
      }
    }
  }


  /* $Slider
  *************************************/
  .slider-main{
    margin-top: 10px;

    // Slider top
    .slider-top{
      .slider-top_item {
        min-height: 130px;
      }
      .content{
        padding-right: 0;
      }
      .slider-top-title {
        font-size: 5.2rem;
      }
      .slider-top-text {
        margin-top: 7px;
        font-size: 3.3rem;
      }
    }
    .slick-dots{
      margin-top: 23px;
      li {
        margin-right: 20px;
        .custom_dots{
          width: 10px;
          height: 10px;
        }
      }
    }

    // Slider bottom
    .slider-bottom {
      padding-top: 50px;
      margin-bottom: 75px;
      .arrow{
        display: none;
      }
      .h3 {
        margin-bottom: 25px;
        font-size: 3.3rem;
      }
      .slider-bottom_list{
        max-width: 100%;
      }
      .slider-bottom_item{
        width: 100%;
        margin: 1px 1px;
        text-align: center;
        .text{
          font-size: 3.1rem;
          padding: 0 25px 0 65px;
          text-align: start;
          display: inline-block;
        }
        .icon{
          left: 5px;
        }
      }
    }
  }





  /* $Advantage
  *************************************/
  .advantage {
    margin-bottom: 15px;
    .advantage-header{
      .text{
        margin-bottom: 40px;
        padding-right: 2%;
        font-size: 3.2rem;
        line-height: 24px;
      }
    }
    .advantage-list{
      .advantage-item{
        width: 100%;
        margin-bottom: 40px;
        padding: 0;
        &:nth-child(3n+1),
        &:nth-child(even){
          padding: 0;
        }
        .advantage-icon{
          margin-bottom: 20px;
        }
        .advantage-title{
          margin-bottom: 12px;
          font-size: 3.9rem;
        }
        .link {
          font-size: 2.8rem;
        }
      }
    }
  }




  /* $Blog
  ******************************/
  .article-slider,
  .about-team,
  .blog-short{
    margin-bottom: 55px;
    .blog-short-link {
      margin: 0 0 0 10px;
    }
    .blog-short-title{
      margin: 0 20px 35px 20px;
      padding-left: 0;
      .content-header{
        margin-bottom: 7px;
      }
      .text{
        font-size: 3.2rem;
      }
    }
    .img-link{
      height: 95vw;
      margin: 0 10px;
      width: 70vw;
      max-width: 225px;
      max-height: 300px;
      &:hover .hidden-text{
        height: 65%;
        overflow: scroll;
      }
      .img-link-header{
        font-size: 4.1rem;
      }
      .read-more {
        font-size: 3.1rem;
      }
    }
  }





  /* $About-company
  *************************/
  .about-company{
    .about-company-header{
      margin-left: 0;
    }
    aside{
      float: none;
      margin-bottom: 25px;
      font-size: 2.75rem;
    }
    .title-list{
      margin-bottom: 15px;
      font-size: 4rem;
    }
    .develop-list{
      margin-bottom: 32px;
      .min-rotate {
        width: 25px;
        height: 25px;
        border-radius: 7px;
      }
      li {
        padding-left: 50px;
        .bold {
          line-height: 1.45;
          font-size: 3.55rem;
        }
      }
      .min-rotate {
        left: 2px;
        top: 7px;
      }
    }
    .logo-parse{
      margin-top: 10px;
    }
  }

  /* $About-team
  ********************/
  .about-team{
    margin-bottom: 35px;
    .join .img-link:hover .hidden-text {
      height: 100%;
    }
    .content-header {
      margin-bottom: 12px;
      font-size: 4rem;
    }
    .team-slider{
      .prev-arrow,
      .next-arrow{
        display: none;
      }
      .img-link {
        max-width: 225px;
        max-height: 300px;
        width: 77vw;
        height: 94vw;
      }
    }
  }

  &:hover .hidden-text{
    height: 0;
    margin: 0;
  }
  &:hover .link-bg{
    opacity: 1;
  }
  &:hover .img-link-header{
    margin-bottom: 0;
    color: #fff;
    .text{
      color: #fff;
    }
  }
  &:hover .blackout{
    display: block;
  }

  /* $Partner & Clients-slider
  *********************/
  .about-partner,
  .about-clients{
    .title{
      margin-bottom: 15px;
    }
    .content-header{
      margin-bottom: 8px;
      font-size: 4rem;
    }
    .prev-arrow,
    .next-arrow{
      display: none;
    }
    .brand-list{
      margin-right: -20px;
      padding: 0;
      li {
        height: 60px;
        margin-right: 0;
        &:hover > .name,
        &:hover > .specialization {
          opacity: 0;
        }
      }

    }
  }
  .about-partner{
    .bottom-text{
      margin-bottom: 30px;
    }
    p:first-of-type {
      margin-bottom: 25px;
    }
  }

  /* $Cooperation-scheme
  *****************************/
  .cooperation-scheme{
    .title{
      margin-bottom: 10px;
    }
    .content-header{
      margin-bottom: 10px;
      font-size: 4rem;
    }
    .line {
      width: 37%;
      margin-top: 25px;
    }
    .scheme-item{
      margin-bottom: 15px;
      padding: 0;
       + .scheme-item{
        padding: 0;
      }
    }
  }


  .first-step{
    margin-bottom: 75px;
    margin-top: 30px;
    .text {
      padding: 0 20px;
    }
  }


  .number-xl {
    font-size: 14rem;
  }

  /* $Benefit
  ******************************/
  .benefit{
    margin-bottom: 45px;
    .rotate {
      top: -227px;
      left: -200px;
      width: 280px;
      height: 280px;
      border-radius: 80px;
    }

    // Benefit list
    .benefit-list{
      margin-bottom: 50px;
      .content-header {
        margin-bottom: 25px;
      }
      .text{
        .sub-title {
          font-size: 4rem;
          line-height: 1.2;
        }
        .descr {
          font-size: 3.2rem;
        }
      }
      li {
        margin-bottom: 24px;
      }
    }

    // Callback form
    .callback-form {
      padding: 0;
      .content-header {
        margin-bottom: 20px;
        font-size: 3.9rem;
      }
      input {
        max-width: 384px;
        font-size: 3.3rem;
      }
      button {
        margin-top: 40px;
      }
      input,
      button {
        margin-bottom: 30px;
      }
    }
  }




  /* $Clients-short
  ******************************/
  .clients-short{
    margin-bottom: 45px;
    .content-header {
      font-size: 6rem;
    }
    .content-header {
      margin-bottom: 15px;
    }
    .brand-list li {
      margin-bottom: 15px;
    }
  }




  /* $Footer
  ******************************/
  footer{
    .footer-nav .services-nav{
      display: none;
    }
    .top-footer {
      padding: 75px 0 85px 0;
    }
    .title{
      font-size: 2.8rem;
    }
    .link{
      font-size: 2.8rem;
    }
    .main-nav .search-form .form-control{
      font-size: 2.8rem;
    }
     .main-nav .search-form .search-icon{
       top: 6px;
     }
    .main-nav .search-form{
      margin-top: 35px;
      margin-bottom: 57px;
    }
    .subscribe{
      padding: 0;
      form {
        max-width: 383px;
        margin-bottom: 47px;
      }
      input {
        font-size: 2.8rem;
      }
      .subscribe-btn{
        padding: 3px 10px;
        font-size: 2.8rem;

      }
    }

    .bottom-footer {
      font-size: 2.8rem;
      padding-top: 55px;
      padding-bottom: 50px;
    }
    .copyright-social {
      margin-bottom: 50px;
      .social .link{
        margin: 0;
        font-size: 2.8rem;
        + .link {
          margin-left: 28px ;
        }
      }
    }
    .fresh {
      margin: 10px 0;
    }
  }


  /* $Map
  ************************************/
  .rotate.rotate-map{
    margin-bottom: 40px;
    position: static;
    overflow: visible;
    transform: rotate(0);
    border-radius: 0;
    width: 100%;
    height: 295px;

    .map-wrap{
      transform: rotate(0);
      top: 0;
      bottom: 0;
    }
  }


  /* $Breadcrumb
  ************************************/
  .breadcrumb{
    padding-bottom: 0;
    margin-top: 10px;
    li{
      margin-bottom: 8px;
      font-size: 2.7rem;
      .double-right{
        font-size: 2.5rem;
      }
    }
  }

  .contacts {
    .contact-info {
      .content-header {
        margin-bottom: 35px;
      }
      .write-to{
        padding: 0;
      }
    }
    .contact-name {
      font-size: 4rem;
      width: 70%;
    }
    .write-to {
      font-size: 4rem;
    }
    .write-to-list {
      margin-bottom: 30px;
      padding-right: 0;
    }
    .contact-info-data {
      margin-bottom: 35px;
      font-size: 3.7rem;
      li{
        margin-bottom: 33px;

      }
    }

    .social{
      margin-bottom: 40px;
      .link {
        width: 35px;
        height: 35px;
        + .link {
          margin-left: 23px;
        }
      }
    }

    .callback-form{
      padding-right: 0;
      margin-bottom: 30px;
      .content-header {
        font-size: 3.8rem;
        margin-bottom: 20px;
      }
      input {
        font-size: 3.3rem;
      }
      button {
        margin-top: 42px;
      }
    }
  }



/* $Blog list
*******************************/
  .blog{
    margin-bottom: 45px;
    .content-header{
      margin-left: 0;
    }
  }
  .blog-header {
    margin-bottom: 30px;
  }

  .blog-item {
    margin-bottom: 38px;
    .blog-img{
      width: 82px;
      height: 125px;
    }
  }
  .blog-content {
    padding-left: 100px;
    time {
      font-size: 2.65rem;
    }
    .content-header {
      padding-right: 0;
      font-size: 4rem;
    }
    .text{
      display: none;
    }
  }

  /* $Tag-cloud $Subscribe
   ***************************/
  .blog{
    // Tag-cloud
    .tag-cloud-mob{
      margin-bottom: 30px;
      padding-right: 0;
      li{
        margin-right: 13px;
        font-size: 2.8rem;
      }
    }

    // Subscribe
    .subscribe{
      .content-header {
        font-size: 4rem;
      }
      form{
        input{
          width: 100%;
          max-width: 384px;
          font-size: 3rem;
        }
        .btn{
          margin-left: 0;
        }
      }
      .subscribe-mail{
        float: none;
        margin-left: 0;
      }
    }
  }



  /* $Article
  **********************/
  .article {
    .article-header {
      width: 100%;
      margin-left: 0;
    }

    /* $Social
  ********************************/
    .social {
      position: static;
      margin-top: 0;
      margin-bottom: 40px;

      .link {
        float: left;
        font-size: 3rem;
        + .link {
          margin: 0 0 0 26px;
        }
      }
    }
  }


  /* $Article-content
  **********************/
  .article-content {
    margin-bottom: 52px;
    time {
      margin-bottom: 15px;
      font-size: 2.8rem;
    }
    .article-photo{
      padding-top: 59%;
      width: 100%;
    }
    .content-header{
      font-size: 4rem;
    }
  }



  /* $Tag cloud
**********************/
  .article {
    .subscribe-show{
      margin-bottom: 35px;
      font-size: 3.2rem;
    }
    .tag-cloud {
      margin-bottom: 30px;
      padding-right: 0;
      li {
        display: inline-block;
        margin-right: 13px;
        font-size: 2.8rem;
        line-height: 1.5;
      }
    }
  }

  /* $Subscribe
  **********************/

  .article {
    .for-revers {
      margin-bottom: 45px;
    }
    .subscribe {
      margin-left: 0;
      form {
        input {
          width: 100%;
          max-width: 384px;
          font-size: 3rem;
        }
      }
      .subscribe-mail {
        margin-left: 0;
        float: none;
      }
      .content-header {
        font-size: 4rem;
      }
      .btn{
        margin-left: 0;
      }
    }
  }
  /* $Question
  **********************/
  .question{
    .content-header{
      margin-left: 0;
      margin-bottom: 25px;
    }
    form{
      input{
        width: 100%;
        max-width: 384px;
        font-size: 3rem;
      }
      .question-mail{
        float: none;
      }
    }
    .btn{
      margin-top: 10px;
      margin-bottom: 10px;
      float: none;
    }
  }


  /* $Article slider
  **********************/
  .article-slider{
    margin-bottom: 78px;
    .prev-arrow,
    .next-arrow{
      opacity: 0;
      z-index: -1;
    }
    .article-slider-link{
      margin-right: 0;
    }
  }


  /* $Equipment_all
  ****************************/
  .equipment_all{
    margin-bottom: 40px;
    .equipment_all-header{
      margin-left: 0;
    }
    .tag-cloud{
      margin-bottom: 50px;
      li{
        font-size: 2.8rem;
      }

    }
  }


  /* $Equipment_all_list
  ****************************/
  .equipment_all_list{
    margin-bottom: 70px;
    li{
      a{
        padding-left: 0;
        .content-header{
          width: 100%;
          font-size: 4rem;
        }
      }
    }
    .icon{
      position: static;
      display: block;
      margin-bottom: 22px;
    }
  }

  .callback-form-equipment{
    .content-header{
      margin-bottom: 22px;
      font-size: 6rem;
    }
    input{
      margin-bottom: 35px;
      padding: 4px 0;
      font-size: 3rem;
    }
    .btn{
      margin-top: 40px;
    }
  }





  /* $Equipment-img
  ****************************/

  .modal-content .demo-img,
  .equipment-img .demo-img{
    white-space: nowrap;
    overflow-x: scroll;
    margin: 0 -20px 17px 0px;
  }
  .equipment-img{
    .main-img {
      height: 180px;
      width: 100%;
    }
  }
  .main-img{
    height: 180px;
    width: 100%;
  }
  .img{
    width: 150px;
  }
  .demo-img li{
    width: 150px;
    height: 95px;
    + li{
      margin-left: 10%;
    }
    &:last-of-type{
      margin-right: 20px;
    }
  }
  .modal-content{
    .demo-img{
      li{
        height: 40px;
      }
    }

  }
  /* $Equipment
  ****************************/
  .equipment{
    .callback-form-equipment{
      margin-bottom: 14px;
      .content-header{
        font-size: 4.4rem;
      }
    }
    .tag-cloud{
      margin-bottom: 40px;
    }
  }


  /* $Modal-content
  ***************************/
  .modal{
    padding: 0;
    .close {
      right: 15px;
    }
  }
  .modal-content{
    height: 100vh;
    width: 100%;
    border: none;
    padding: 15% 20px;
    .prev-arrow,
    .next-arrow{
      display: none;
    }
    .main-img-wrap{
      margin-bottom: 5px;
    }
  }




  /* $Work
  *********************************/
  .work{
    margin-bottom: 0;
    .work-header{
      margin-left: 0;
    }
    aside {
      float: none;
      margin-bottom: 25px;
      font-size: 2.75rem;
      li {
        display: inline-block;
        margin-right: 11px;
      }
    }
    .write-message{
      padding: 0;
      margin-top: 50px;
    }
  }

  /* $Work-content
  *********************************/
  .work-content{
    .text{
      margin-bottom: 25px;
    }
  }



  /* $Flowchart
  *********************************/
  .flowchart{
    margin: 33px 0;
    .text{
      display: inline;
      width: 100%;
      margin-bottom: 6px;
    }
    img:not(.mobile){
      display: none;
    }
    .mobile{
      display: block;
      margin: 0 auto 30px auto;
    }
  }
  /* $Pie-chart
  *********************************/
  .pie-chart{
    margin-top: -10px;
    margin-bottom: 20px;
    img:not(.mobile){
      display: none;
    }
    .mobile{
      display: block;
      max-width: 100%;
      margin: 45px auto 25px auto;
    }
  }


  /* $Clients
  ************************/
  .clients{
    margin-bottom: 0;
    .clients-header{
      margin-left: 0;
    }
    aside {
      float: none;
      margin-bottom: 25px;
      font-size: 2.75rem;

      li {
        display: inline-block;
        margin-right: 11px;
      }
    }

  }
  .clients-content{
    padding-right: 0;
  }

  /* $Clients-list
  **********************/
  .clients-list{
    margin: 45px 0 75px 0;
    li{
      margin-bottom: 50px;
      padding-left: 23.5%;
      .content-header{
        font-size: 4rem;
      }
      .brand-icon-wrap {
        margin-left: -30.5%;
        width: 30%;
      }
      .bubble-message{
        margin-left: -30.5%;
        margin-top: 35px;
        padding: 40px 32px;
        &:after{
          left: 80%;
          bottom: -65px;
        }
      }
      .name {
        margin: 22px 0 10px 0;
      }
    }
  }

  /* $Write-message-box
  **************************/
  .write-message{
    margin: 0 -20px;
    padding: 0;
  }
  .write-message-box{
    margin-bottom: 0;
    padding: 55px 25px;
    .btn{
      width: 255px;
      &:before,
      &:after{
        font-size: 3.2rem;
      }
    }
  }


  .partner-list{
    li{
      margin-bottom: 40px;
    }
  }

  /* $Site-map
  *****************************/
  .site-map{
    margin: 75px auto 77px auto;
  }
  .map-list{
    margin-top: 40px;
    font-size: 2.8rem;
  }


  /* $Sorry-page
  *************************/
  .sorry-page{
    margin: 77px auto 75px auto;
    .content-header{
      margin-bottom: 27px;
    }
    .line-break{
      display: block;
    }
    .text.bold{
      margin-top: 25px;
    }
    .text:not(.bold){
      display: inline;
    }
  }


  /* $Search
  *******************************/
  .search{
    margin: 75px auto 28px auto;
    .content-header {
      margin-bottom: 33px;
    }
    .search-form{
      margin-bottom: 15px;
      .form-control {
        font-size: 3.3rem;
      }
    }
  }


  /* Search result
  **************************/
  .search-result{
    .results-sum {
      margin-bottom: 42px;
    }
    .results-item{
      margin-bottom: 45px;
    }
    time{
      font-size: 2.8rem;
    }
    .content-header{
      font-size: 4rem;
    }
    .breadcrumb{
      li{
        display: inline;
      }
    }
  }




  /* $Error-page
 *****************************/
  .error-page {
    margin: 78px auto 38px auto;
    .content-header {
      margin-bottom: 25px;
    }
    .search-form {
      .form-control {
      }
    }
    .error-page-content {
      width: 282px;
      margin: 50px auto 10px auto;
      img {
        margin-bottom: 55px;
      }
      .content-header {
        font-size: 4rem;
      }
      .search-form {
        width: 73%;
        margin-left: 0;
        margin-top: -10px;
        margin-bottom: 25px;
        .form-control {
          padding: 3px 30px 3px 15px;
          font-size: 3.2rem;
        }
      }
    }
  }

form{
  .right,
  .left{
    width: 100%;
    margin: 0;
  }
}


}
