/* Table of Contents

	Use (CMD/CRL + F $[SECTION] to quickly find what you are looking for [SECTION] )

1.  Sorry-page


*/

/* $Sorry-page
*************************/
.sorry-page{
  margin: 155px auto 100px auto;
  .content-header{
    margin-bottom: 35px;
  }
  .line-break{
    display: block;
  }
  .text.bold{
    margin-top: 25px;
  }
}