/* Table of Contents

	Use (CMD/CRL + F $[SECTION] to quickly find what you are looking for [SECTION] )

1.  Work
2.  Work-content
3.  Flowchart
4.  Pie-chart
*/


/* $Work
*********************************/
.work{
  margin-bottom: 12px;
  .work-header{
    margin-bottom: 42px;
    margin-left: 8.33333333%;
    width: 58.33333333%;
  }
  aside{
    padding-left: 2%;
    float: right;
    font-size: 1.4rem;
    li{
      margin-bottom: 7px;
    }
    .link{
      font-family: $Avenir-demi;
    }
  }
  .write-message{
    padding-right: 1.5%;
  }
  .write-message-box{
    .btn{
      &:before,
      &:after{
        content: 'Предварительный запрос';
      }
    }
  }
}

/* $Work-content
*********************************/
.work-content{
  margin-bottom: 45px;
  padding-right: 1%;
  .text{
    margin-bottom: 28px;
  }
}


/* $Flowchart
*********************************/
.flowchart{
  margin: 100px 0 120px 0;
  .text{
    width: 44%;
    margin: 0;
  }
  .mobile{
    display: none;
  }
  img{
    max-width: 100%;
    margin: -92px 0;
  }
}

/* $Pie-chart
*********************************/
.pie-chart{
  margin: 35px 0 50px 0;
  ul{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5%;
  }
  .text.bold{
    margin-bottom: 12px;
  }
  .marker-xl{
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 4px;
    border-radius: 50px;
    vertical-align: text-top;
    &.orange{
      background-color: $accent-col;
    }
    &.green{
      background-color: #00bb53;
    }
    &.yellow{
      background-color: #fff60a;
    }
    &.red{
      background-color: #ca0b00;
    }
    &.blue{
      background-color: #96bdee;
    }
  }
  .mobile,
  .tablet{
    display: none;
  }+
  img{
    display: inline-block;
    max-width: 100%;
  }

}