/*
    Table of content

    Use (CMD/CRL + F $[SECTION] to quickly find what you are looking for [SECTION])
    
1.  Top
2.  Middle
3.  Bottom
*/



@font-face {
    font-family: "Chalkduster";
    src: url('../fonts/Chalkduster.woff2') format('woff2'),
    url("../fonts/Chalkduster.woff") format("woff"),
    url("../fonts/Chalkduster.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "FranklinGothic";
    src: url('../fonts/FranklinGothic.woff2') format('woff2'),
    url("../fonts/FranklinGothic.woff") format("woff"),
    url("../fonts/FranklinGothic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "FranklinGothic-demi";
    src: url('../fonts/FranklinGothic-DemiCond.woff2') format('woff2'),
    url("../fonts/FranklinGothic-DemiCond.woff") format("woff"),
    url("../fonts/FranklinGothic-DemiCond.ttf") format("truetype");

}@font-face {
    font-family: "ExPontoPro-Regular";
    src: url('../fonts/ExPontoPro-Regular.woff2') format('woff2'),
    url("../fonts/ExPontoPro-Regular.woff") format("woff"),
    url("../fonts/ExPontoPro-Regular.ttf") format("truetype");

}

.top-left_line,
.top-right_line,
.bottom-left_line,
.bottom-right_line{
    width: 88px;
    height: 88px;
    position: absolute;
}
.top-left_line:before,
.top-right_line:before,
.bottom-left_line:before,
.bottom-right_line:before{
    content: '';
    position: absolute;
    width: 65px;
    height: 1px;
    background-color: #000;
}
.top-left_line:after,
.top-right_line:after,
.bottom-left_line:after,
.bottom-right_line:after{
    content: '';
    position: absolute;
    width: 1px;
    height: 65px;
    background-color: #000;
}
.top-left_line{
    top: 0;
    left: 0;
}
.bottom-left_line{
    bottom: 0;
    left: 0;
}
.bottom-right_line{
    bottom: 0;
    right: 0;
}

.top-right_line{
    top: 0;
    right: 0;
}

.top-left_line:before{
    bottom: 0;
    left: 0;
}
.top-left_line:after{
    top: 0;
    right: 0;
}
.top-right_line:before{
    bottom: 0;
    right: 0;
}
.top-right_line:after{
    top: 0;
    left: 0;
}
.bottom-left_line:before{
     top: 0;
     left: 0;
 }
.bottom-left_line:after{
    bottom: 0;
    right: 0;
}
.bottom-right_line:before{
    top: 0;
    right: 0;
}
.bottom-right_line:after{
    bottom: 0;
    left: 0;
}



body{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    min-width: 1200px;
}
main{
    padding: 90px;
    overflow: hidden;
}

.content{
    border: solid 1px #000;
}
.header{
    background-color: #29a2b3 ;
    color: #fff;
    padding: 30px 50px 8px 50px;

    -webkit-box-shadow: 10px 10px 14px 5px rgba(0,0,0,0.07);
    -moz-box-shadow: 10px 10px 14px 5px rgba(0,0,0,0.07);
    box-shadow: 10px 10px 14px 5px rgba(0,0,0,0.07);
}

.header .top-list{
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
}
.header .h1{
    display: inline-block;
    vertical-align: top;
    font-family: 'Chalkduster' , "Open Sans", sans-serif;
    font-size: 70px;
    font-weight: 100;
    position: relative;
    transform: scaleY(1.5);
    bottom: -37px;

}
.header .top-list li{
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'FranklinGothic-demi' , "Open Sans", sans-serif;

}
.header .top-list{
    padding-bottom: 12px;

}
.header .top-list li:before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 8px;
    background-color: #fff;
    vertical-align: middle;
}

.dashboard_img{
    display: flex;
    width: 100%;
}
.dashboard_img .right{
    min-height: 100%;
    width: 66.66%;
    flex-wrap: wrap;
    display: flex;
}
.dashboard_img .left{
    height: 100%;
    width: 33.33%;
}
.dashboard_img .left .img{
    height: 100%;
    padding-top: 150%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.dashboard_img .right .img{
    width: 50%;
    padding-top: 37.5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bottom-text{
    text-align: center;
}

.bottom-text h2{
    text-align: center;
    font-family: 'FranklinGothic' , "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: normal;
    margin: 8px 0;

}
.bottom-text p{
    font-family: 'FranklinGothic' , "Open Sans", sans-serif;
    font-style: italic;
    font-size: 22px;
    font-weight: normal;
    margin: 8px 0;

}
.bottom{
    display: flex;
    padding: 15px 35px;

}
.logo{
    width: 50%;


}
.logo img{
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.logo span {
    color: #d76644;
    font-family: 'ExPontoPro-Regular' , "Open Sans", sans-serif;
    font-size: 35px;
    vertical-align: -webkit-baseline-middle;

}
.bottom .right{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.contact{
    align-self: center;
}

.contact .site{
    font-family: 'FranklinGothic-demi' , "Open Sans", sans-serif;
}
.contact a{
    display: block;
    font-family: 'FranklinGothic' , "Open Sans", sans-serif;
    font-size: 20px;

}
.partners{
    display: flex;
    flex-direction: column;
}

.partners img:first-of-type{
    width: 60px;
    align-self: flex-end;

}
.partners img:last-of-type{
    width: 150px;
}

@media all and (max-width: 767px) {
    body{
        min-width: 320px;

    }
    .dashboard_img {
        flex-wrap: wrap;
    }
    .dashboard_img .left{
        width: 100%;
    }
    .dashboard_img .left .img {
        padding-top: 37.5%;
    }
    .dashboard_img .right {
        width: 100%;
    }
    .bottom{
        flex-wrap: wrap;
    }
    .logo{
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .bottom {
        padding: 15px 10px;
    }
    .logo img{
        width: 75px;
    }
    .logo span {
        font-size: 20px;
    }

    .bottom .right{
        width: 100%;
        flex-direction: column;
    }
    .header {
        padding: 30px 20px;
    }
    main {
        padding: 35px;
    }
    .top-left_line,
    .top-right_line,
    .bottom-left_line,
    .bottom-right_line {
        width: 35px;
        height: 35px;
    }
    .top-left_line:before,
    .top-right_line:before,
    .bottom-left_line:before,
    .bottom-right_line:before {
        width: 25px;
    }
    .top-left_line:after,
    .top-right_line:after,
    .bottom-left_line:after,
    .bottom-right_line:after {
        height: 25px;
    }
    .partners {
        flex-direction: row;
        justify-content: space-around;
    }
    .header .h1 {
        display: block;
        text-align: center;
        bottom: 25px;
        font-size: 50px;
        transform: scaleY(1);

    }
    .header .top-list{
        float: none;
        display: block;
                margin-left: -10px;

    }
    .header .top-list li {
        display: inline-block;
        font-size: 20px;
        margin-left: 10px;

    }

    .contact a {
        padding-bottom: 6px;
    }
    .contact{
        margin-bottom: 10px;
    }

    .bottom-text h2 {
        font-size: 18px;

    }
    .bottom-text p {
        font-size: 15px;
    }
}
