body{
  min-height: 100vh;
}
.content{
  padding-top: 35px;
}

li{
  list-style: none;
}
.fc-node p{
  position: relative;
}
.fc-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  svg {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.fc-canvas,
.fc-node{
  min-width: 200px;
  min-height: 200px;
  display: block;
  position: relative;
  background: transparent;
  text-align: center;
}

.innerNode{
  min-width: 200px;
  min-height: 200px;
  display: block;
  position: relative;
  background: transparent;
  text-align: center;
}


//Button story
.button-overlay{
  ul{
    padding: 0;
  }
  .del-btn{
    button{
      display: block;
      margin: 20px auto;
    }
  }
}


.start{
  position: absolute;
  width: 100%;
  top: -65px;
  font-size: 50px;
  color: #212121;
}

.button-control{
  position: relative;
  margin-bottom: 35px;

}

.many-questions{
  textarea{
    width: 130px;
    height: 100px;
    margin-top: 25px;
  }
}
.star-question{
  textarea{
    width: 100px;
    height: 80px;
  }
}
.text-question{
  textarea{
    width: 200px;
    margin-top: 20px;
    height: 100px;
  }
}
.multi-question{
  background-image: linear-gradient(21deg, #2ecc71, #79e196);
  textarea{
    width: 150px;
    height: 130px;
    margin-top: 40px;
  }
}

.many-questions-btn,
.text-question-btn,
.star-question-btn,
.multi-question-btn{
  background-image: linear-gradient(21deg, #2ecc71, #79e196);
  display: inline-block;
}

.minNode-wrap{
  display: inline-block;
  width: 100px;
  margin-right: 15px;
  text-align: center;
}
.minNode{
  vertical-align: middle;
    display: inline-block;
  }


.text-question-item .minNode{
  width: 100px;
  height: 60px;
  background-image: linear-gradient(21deg, #2ecc71, #79e196);
}
.many-questions-item .minNode{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-image: linear-gradient(21deg, #2ecc71, #79e196);
}
.star-question-item .minNode{
  width: 70px;
  height: 70px;
  background-image: url("../img/Black_Star.svg");
  background-size: cover;
 background-repeat: no-repeat;
  background-position: center;
}
.multi-question-item .minNode{
  width: 70px;
  height: 70px;
  background-image: linear-gradient(21deg, #2ecc71, #79e196);
}

.text-question{
  background: transparent;
}
.title{
  margin: 0;
}



textarea {
  position: relative;
  text-align: center;
  resize: none;
  border: none;
  overflow-x: hidden;
  margin-top: 5px;
  color: white;
  background: transparent;
  font-size: 20px;
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
}




.fc-node.fc-selected {
  filter: none;
  cursor: pointer;
}
.fc-node.fc-hover {
   filter: none;
   cursor: pointer;
 }

.fc-selected .fc-nodedelete{
  display: none;
}


.fc-connector {
  position: relative;
  width: 100%;
  height: 30px;
  border: 0px solid transparent;
  background-clip: padding-box;
  border-radius: 0;
  color: #212121;
  background-color: transparent;
}
.fc-topConnectors{
  top: -40px;
  z-index: 9;
}
.fc-bottomConnectors{
  bottom: -40px;
  z-index: 9;
}

.fc-connector.fc-hover{
  background-color: transparent;
}
.fc-magnet{
  width: 100%;
  height: 30px;
  border: 0px solid transparent;
  background-clip: padding-box;
  border-radius: 0;
  background-color: transparent;
  color: #212121;
}
.conditionItem{
  position: absolute;
}



/**** rectangle start ****/
.rectangle{
  min-width: 240px;
  min-height: 140px;
  background-image: linear-gradient(21deg, #2ecc71, #79e196);
}

/**** Circle start ****/
.circle{
  background-image: linear-gradient(21deg, #2ecc71, #79e196);
  border-radius: 100%;
  p{
    padding-top: 30px;
  }
}

/**** Star questions ****/
.star-question{
  .fc-bottomConnectors{
    bottom: -50px;
    .conditionItem{
      padding-top: 0;
    }
  }
}

.star {
  margin-top: 30px;
  .start{
    top:-85px;
  }
  .figure {
    background: url("../img/Black_Star.svg");
    background-size: cover;
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: -57px;
    right: -50px;
  }
  p{
    padding-top: 75px;

  }
}

/**** square start ****/
.square{
  background-image: linear-gradient(21deg, #2ecc71, #79e196);
}

.fc-bottomConnectors .fc-connector,
.fc-topConnectors .fc-connector{
  height: 60px;
}
.star-question-btn{
  background-image: linear-gradient(21deg, #ffa600, #fcca65);
}





.control-btn{
  margin-top: 50px;
}

