.open{
    display: block ;
}
.loading.loading-hidden,
.preloader,
.question-change,
.ng-hide{
    display: none;
}
.main-panel > .header .nav > li > .link{
    display: inline-block;
    padding: 0;
    margin: 0;
}